<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/scaffold/pageTemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewParam name="id" value='#{fileBean.id}' />
		<f:event type="preRenderView" listener='#{fileBean.retrieve}' />
	</f:metadata>

	<ui:param name="pageTitle"
		value="#{!empty fileBean.id ? app.edit_existing_file : app.create_new_file}" />

	<ui:define name="header">
		#{app.File}
	</ui:define>

	<ui:define name="subheader">
		<c:choose>
			<c:when test='#{!empty fileBean.id}'>
				#{app.edit_existing_file}
			</c:when>
			<c:otherwise>
				#{app.create_new_file}
			</c:otherwise>
		</c:choose>
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">

		<h:outputStylesheet name="font-awesome/css/font-awesome.css" />

		<h:messages globalOnly="true" styleClass="error" />

		<h:outputStylesheet name="create.css" library="pages" />

		<div class="col-md-6">
			<div class="row">

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="applicationSubmissionDate"
								value="#{app.applicationSubmissionDate}:" />
						</div>
						<div class="col-md-9">
							<p:calendar id="applicationSubmissionDate"
								value="#{fileBean.file.applicationSubmissionDate}"
								pattern="dd-MM-yyyy" />
							<h:message for="applicationSubmissionDate" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="familyVisitDate"
								value="#{app.familyVisitDate}:" />
						</div>
						<div class="col-md-9">
							<p:calendar id="familyVisitDate"
								value="#{fileBean.file.familyVisitDate}" pattern="dd-MM-yyyy" />
							<h:message for="familyVisitDate" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="caseType"
								value="#{app.caseType}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="caseType" styleClass="form-control"
								value="#{fileBean.file.caseType}" />
							<h:message for="caseType" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="applicationType"
								value="#{app.applicationType}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="applicationType" styleClass="form-control"
								value="#{fileBean.file.applicationType}" />
							<h:message for="applicationType" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="firstPhoneNumber"
								value="#{app.firstPhoneNumber}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="firstPhoneNumber" styleClass="form-control"
								value="#{fileBean.file.firstPhoneNumber}" />
							<h:message for="firstPhoneNumber" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="secondPhoneNumber"
								value="#{app.secondPhoneNumber}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="secondPhoneNumber" styleClass="form-control"
								value="#{fileBean.file.secondPhoneNumber}" />
							<h:message for="secondPhoneNumber" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="husbandName"
								value="#{app.husbandName}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="husbandName" styleClass="form-control"
								value="#{fileBean.file.husbandName}" />
							<h:message for="husbandName" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="wifeName"
								value="#{app.wifeName}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="wifeName" styleClass="form-control"
								value="#{fileBean.file.wifeName}" />
							<h:message for="wifeName" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="emailAddress"
								value="#{app.emailAddress}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="emailAddress" styleClass="form-control"
								value="#{fileBean.file.emailAddress}" />
							<h:message for="emailAddress" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="homeAddress"
								value="#{app.homeAddress}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="homeAddress" styleClass="form-control"
								value="#{fileBean.file.homeAddress}" />
							<h:message for="homeAddress" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="inspector"
								value="#{app.inspector}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="inspector" styleClass="form-control"
								value="#{fileBean.file.inspector}" />
							<h:message for="inspector" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="inspectingSource"
								value="#{app.inspectingSource}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="inspectingSource" styleClass="form-control"
								value="#{fileBean.file.inspectingSource}" />
							<h:message for="inspectingSource" styleClass="error" />
						</div>
					</div>
				</div>


				<!-- Husband Personal Information -->

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="husbandFirstName"
								value="#{app.husbandFirstName}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="husbandFirstName" styleClass="form-control"
								value="#{fileBean.file.husbandFirstName}" />
							<h:message for="husbandFirstName" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="husbandFatherName"
								value="#{app.husbandFatherName}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="husbandFatherName" styleClass="form-control"
								value="#{fileBean.file.husbandFatherName}" />
							<h:message for="husbandFatherName" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="husbandFamilyName"
								value="#{app.husbandFamilyName}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="husbandFamilyName" styleClass="form-control"
								value="#{fileBean.file.husbandFamilyName}" />
							<h:message for="husbandFamilyName" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="husbandBirthPlace"
								value="#{app.husbandBirthPlace}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="husbandBirthPlace" styleClass="form-control"
								value="#{fileBean.file.husbandBirthPlace}" />
							<h:message for="husbandBirthPlace" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="husbandBirthdate"
								value="#{app.husbandBirthdate}:" />
						</div>
						<div class="col-md-9">
							<p:calendar id="husbandBirthdate"
								value="#{fileBean.file.husbandBirthdate}" pattern="dd-MM-yyyy" />
							<h:message for="husbandBirthdate" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="husbandRecordNumber" value="#{app.husbandRecordNumber}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="husbandRecordNumber" styleClass="form-control"
								value="#{fileBean.file.husbandRecordNumber}" />
							<h:message for="husbandRecordNumber" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="husbandMotherFullName"
								value="#{app.husbandMotherFullName}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="husbandMotherFullName" styleClass="form-control"
								value="#{fileBean.file.husbandMotherFullName}" />
							<h:message for="husbandMotherFullName" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="husbandGovernorate" value="#{app.husbandGovernorate}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="husbandGovernorate" styleClass="form-control"
								value="#{fileBean.file.husbandGovernorate}" />
							<h:message for="husbandGovernorate" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="husbandProvince"
								value="#{app.husbandProvince}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="husbandProvince" styleClass="form-control"
								value="#{fileBean.file.husbandProvince}" />
							<h:message for="husbandProvince" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="husbandTown"
								value="#{app.husbandTown}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="husbandTown" styleClass="form-control"
								value="#{fileBean.file.husbandTown}" />
							<h:message for="husbandTown" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="husbandNationality" value="#{app.husbandNationality}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="husbandNationality" styleClass="form-control"
								value="#{fileBean.file.husbandNationality}" />
							<h:message for="husbandNationality" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="husbandSadaAmma"
								value="#{app.husbandSadaAmma}:" />
						</div>
						<div class="col-md-9">
							<p:selectOneMenu id="husbandSadaAmma"
								value="#{fileBean.file.husbandSadaAmma}"
								filter="#{fileBean.file.husbandSadaAmma}"
								filterMatchMode="contains">
								<f:selectItem />
								<f:selectItem itemLabel="#{app.Sada}" itemValue="Sada" />
								<f:selectItem itemLabel="#{app.Amma}" itemValue="Amma" />
							</p:selectOneMenu>
							<h:message for="husbandSadaAmma" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="husbandSocialStatus" value="#{app.husbandSocialStatus}:" />
						</div>
						<div class="col-md-9">
							<p:selectOneMenu id="husbandSocialStatus"
								value="#{fileBean.file.husbandSocialStatus}"
								filter="#{fileBean.file.husbandSocialStatus}"
								filterMatchMode="contains">
								<f:selectItem />
								<f:selectItem itemLabel="#{app.Married}" itemValue="Married" />
								<f:selectItem itemLabel="#{app.Single}" itemValue="Single" />
								<f:selectItem itemLabel="#{app.Divorced}" itemValue="Divorced" />
								<f:selectItem itemLabel="#{app.Widowed}" itemValue="Widowed" />
							</p:selectOneMenu>
							<h:message for="husbandSocialStatus" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="husbandNumberOfWife" value="#{app.husbandNumberOfWife}:" />
						</div>
						<div class="col-md-9">
							<p:inputNumber id="husbandNumberOfWife"
								inputStyleClass="form-control"
								value="#{fileBean.file.husbandNumberOfWife}" emptyValue="0"
								minValue="0" />
							<h:message for="husbandNumberOfWife" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="husbandEducationalLevel"
								value="#{app.husbandEducationalLevel}:" />
						</div>
						<div class="col-md-9">
							<p:selectOneMenu id="husbandEducationalLevel"
								value="#{fileBean.file.husbandEducationalLevel}"
								filter="#{fileBean.file.husbandEducationalLevel}"
								filterMatchMode="contains">
								<f:selectItem />
								<f:selectItem itemLabel="#{app.Illiterate}"
									itemValue="Illiterate" />
								<f:selectItem itemLabel="#{app.FirstElementary}"
									itemValue="FirstElementary" />
								<f:selectItem itemLabel="#{app.SecondElementary}"
									itemValue="SecondElementary" />
								<f:selectItem itemLabel="#{appHighSchool}"
									itemValue="HighSchool" />
								<f:selectItem itemLabel="#{app.Graduate}" itemValue="Graduate" />
								<f:selectItem itemLabel="#{app.Vocational}"
									itemValue="Vocational" />
								<f:selectItem itemLabel="#{app.PHD}" itemValue="PHD" />
							</p:selectOneMenu>
							<h:message for="husbandEducationalLevel" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="husbandEducationalCertificate"
								value="#{app.husbandEducationalCertificate}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="husbandEducationalCertificate"
								styleClass="form-control"
								value="#{fileBean.file.husbandEducationalCertificate}" />
							<h:message for="husbandEducationalCertificate" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="husbandHealthStatus" value="#{app.husbandHealthStatus}:" />
						</div>
						<div class="col-md-9">
							<p:selectOneMenu id="husbandHealthStatus"
								value="#{fileBean.file.husbandHealthStatus}"
								filter="#{fileBean.file.husbandHealthStatus}"
								filterMatchMode="contains">
								<f:selectItem />
								<f:selectItem itemLabel="#{app.Alive}" itemValue="Alive" />
								<f:selectItem itemLabel="#{app.Sick}" itemValue="Sick" />
								<f:selectItem itemLabel="#{app.Dead}" itemValue="Dead" />
							</p:selectOneMenu>
							<h:message for="husbandHealthStatus" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="husbandDeathDate"
								value="#{app.husbandDeathDate}:" />
						</div>
						<div class="col-md-9">
							<p:calendar id="husbandDeathDate"
								value="#{fileBean.file.husbandDeathDate}" pattern="dd-MM-yyyy" />
							<h:message for="husbandDeathDate" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="husbandDeathReason" value="#{app.husbandDeathReason}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="husbandDeathReason" styleClass="form-control"
								value="#{fileBean.file.husbandDeathReason}" />
							<h:message for="husbandDeathReason" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="husbandFamilyStatus" value="#{app.husbandFamilyStatus}:" />
						</div>
						<div class="col-md-9">
							<p:selectOneMenu id="husbandFamilyStatus"
								value="#{fileBean.file.husbandFamilyStatus}"
								filter="#{fileBean.file.husbandFamilyStatus}"
								filterMatchMode="contains">
								<f:selectItem />
								<f:selectItem itemLabel="#{app.WithTheFamily}"
									itemValue="WithTheFamily" />
								<f:selectItem itemLabel="#{app.WithoutTheFamily}"
									itemValue="WithoutTheFamily" />
							</p:selectOneMenu>
							<h:message for="husbandFamilyStatus" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="husbandNotes"
								value="#{app.husbandNotes}:" />
						</div>
						<div class="col-md-9">
							<p:inputTextarea id="husbandNotes" styleClass="form-control"
								value="#{fileBean.file.husbandNotes}" />
							<h:message for="husbandNotes" styleClass="error" />
						</div>
					</div>
				</div>

				<!-- Husband Job Information -->

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="husbandInsuranceType" value="#{app.husbandInsuranceType}:" />
						</div>
						<div class="col-md-9">
							<p:selectOneMenu id="husbandInsuranceType"
								value="#{fileBean.file.husbandInsuranceType}"
								filter="#{fileBean.file.husbandInsuranceType}"
								filterMatchMode="contains">
								<f:selectItem />
								<f:selectItem itemLabel="#{app.Daman}" itemValue="Daman" />
								<f:selectItem itemLabel="#{app.TaawniyyatMowazzafin}"
									itemValue="TaawniyyatMowazzafin" />
								<f:selectItem itemLabel="#{app.MoaassasatDawla}"
									itemValue="MoaassasatDawla" />
								<f:selectItem itemLabel="#{app.InsuranceCompany}"
									itemValue="InsuranceCompany" />
								<f:selectItem itemLabel="#{app.Other}" itemValue="Other" />
							</p:selectOneMenu>
							<h:message for="husbandInsuranceType" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="husbandIndemnity"
								value="#{app.husbandIndemnity}:" />
						</div>
						<div class="col-md-9">
							<p:inputSwitch id="husbandIndemnity"
								value="#{fileBean.file.husbandIndemnity}" />
							<h:message for="husbandIndemnity" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="husbandIndemnityPrice"
								value="#{app.husbandIndemnityPrice}:" />
						</div>
						<div class="col-md-9">
							<p:inputNumber id="husbandIndemnityPrice"
								inputStyleClass="form-control"
								value="#{fileBean.file.husbandIndemnityPrice}"
								styleClass="money" symbol="$" symbolPosition="s"
								decimalSeparator="." thousandSeparator="," minValue="0" />
							<h:message for="husbandIndemnityPrice" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="husbandIndemnityDate" value="#{app.husbandIndemnityDate}:" />
						</div>
						<div class="col-md-9">
							<p:calendar id="husbandIndemnityDate"
								value="#{fileBean.file.husbandIndemnityDate}"
								pattern="dd-MM-yyyy" />
							<h:message for="husbandIndemnityDate" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="husbandRetirement"
								value="#{app.husbandRetirement}:" />
						</div>
						<div class="col-md-9">
							<p:inputSwitch id="husbandRetirement"
								value="#{fileBean.file.husbandRetirement}" />
							<h:message for="husbandRetirement" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="husbandRetirementSalary"
								value="#{app.husbandRetirementSalary}:" />
						</div>
						<div class="col-md-9">
							<p:inputNumber id="husbandRetirementSalary"
								inputStyleClass="form-control"
								value="#{fileBean.file.husbandRetirementSalary}"
								styleClass="money" symbol="$" symbolPosition="s"
								decimalSeparator="." thousandSeparator="," minValue="0" />
							<h:message for="husbandRetirementSalary" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="husbandRetirementNotes"
								value="#{app.husbandRetirementNotes}:" />
						</div>
						<div class="col-md-9">
							<p:inputTextarea id="husbandRetirementNotes"
								styleClass="form-control"
								value="#{fileBean.file.husbandRetirementNotes}" />
							<h:message for="husbandRetirementNotes" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="husbandInspectingNotes"
								value="#{app.husbandInspectingNotes}:" />
						</div>
						<div class="col-md-9">
							<p:inputTextarea id="husbandInspectingNotes"
								styleClass="form-control"
								value="#{fileBean.file.husbandInspectingNotes}" />
							<h:message for="husbandInspectingNotes" styleClass="error" />
						</div>
					</div>
				</div>

				<!-- Wife Personal Information -->


				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="wifeFirstName"
								value="#{app.wifeFirstName}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="wifeFirstName" styleClass="form-control"
								value="#{fileBean.file.wifeFirstName}" />
							<h:message for="wifeFirstName" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="wifeFatherName"
								value="#{app.wifeFatherName}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="wifeFatherName" styleClass="form-control"
								value="#{fileBean.file.wifeFatherName}" />
							<h:message for="wifeFatherName" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="wifeFamilyName"
								value="#{app.wifeFamilyName}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="wifeFamilyName" styleClass="form-control"
								value="#{fileBean.file.wifeFamilyName}" />
							<h:message for="wifeFamilyName" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="wifeBirthPlace"
								value="#{app.wifeBirthPlace}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="wifeBirthPlace" styleClass="form-control"
								value="#{fileBean.file.wifeBirthPlace}" />
							<h:message for="wifeBirthPlace" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="wifeBirthDate"
								value="#{app.wifeBirthDate}:" />
						</div>
						<div class="col-md-9">
							<p:calendar id="wifeBirthDate"
								value="#{fileBean.file.wifeBirthDate}" pattern="dd-MM-yyyy" />
							<h:message for="wifeBirthDate" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="wifeRecordNumber"
								value="#{app.wifeRecordNumber}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="wifeRecordNumber" styleClass="form-control"
								value="#{fileBean.file.wifeRecordNumber}" />
							<h:message for="wifeRecordNumber" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="wifeMotherFullName" value="#{app.wifeMotherFullName}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="wifeMotherFullName" styleClass="form-control"
								value="#{fileBean.file.wifeMotherFullName}" />
							<h:message for="wifeMotherFullName" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="wifeGovernorate"
								value="#{app.wifeGovernorate}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="wifeGovernorate" styleClass="form-control"
								value="#{fileBean.file.wifeGovernorate}" />
							<h:message for="wifeGovernorate" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="wifeProvince"
								value="#{app.wifeProvince}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="wifeProvince" styleClass="form-control"
								value="#{fileBean.file.wifeProvince}" />
							<h:message for="wifeProvince" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="wifeTown"
								value="#{app.wifeTown}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="wifeTown" styleClass="form-control"
								value="#{fileBean.file.wifeTown}" />
							<h:message for="wifeTown" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="wifeNationality"
								value="#{app.wifeNationality}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="wifeNationality" styleClass="form-control"
								value="#{fileBean.file.wifeNationality}" />
							<h:message for="wifeNationality" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="wifeSadaAmma"
								value="#{app.wifeSadaAmma}:" />
						</div>
						<div class="col-md-9">
							<p:selectOneMenu id="wifeSadaAmma"
								value="#{fileBean.file.wifeSadaAmma}"
								filter="#{fileBean.file.wifeSadaAmma}"
								filterMatchMode="contains">
								<f:selectItem />
								<f:selectItem itemLabel="#{app.Sada}" itemValue="Sada" />
								<f:selectItem itemLabel="#{app.Amma}" itemValue="Amma" />
							</p:selectOneMenu>
							<h:message for="wifeSadaAmma" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="wifeEducationalLevel" value="#{app.wifeEducationalLevel}:" />
						</div>
						<div class="col-md-9">
							<p:selectOneMenu id="wifeEducationalLevel"
								value="#{fileBean.file.wifeEducationalLevel}"
								filter="#{fileBean.file.wifeEducationalLevel}"
								filterMatchMode="contains">
								<f:selectItem />
								<f:selectItem itemLabel="#{app.Illiterate}"
									itemValue="Illiterate" />
								<f:selectItem itemLabel="#{app.FirstElementary}"
									itemValue="FirstElementary" />
								<f:selectItem itemLabel="#{app.SecondElementary}"
									itemValue="SecondElementary" />
								<f:selectItem itemLabel="#{appHighSchool}"
									itemValue="HighSchool" />
								<f:selectItem itemLabel="#{app.Graduate}" itemValue="Graduate" />
								<f:selectItem itemLabel="#{app.Vocational}"
									itemValue="Vocational" />
								<f:selectItem itemLabel="#{app.PHD}" itemValue="PHD" />
							</p:selectOneMenu>
							<h:message for="wifeEducationalLevel" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="wifehealthStatus"
								value="#{app.wifehealthStatus}:" />
						</div>
						<div class="col-md-9">
							<p:selectOneMenu id="wifehealthStatus"
								value="#{fileBean.file.wifehealthStatus}"
								filter="#{fileBean.file.wifehealthStatus}"
								filterMatchMode="contains">
								<f:selectItem />
								<f:selectItem itemLabel="#{app.Alive}" itemValue="Alive" />
								<f:selectItem itemLabel="#{app.Sick}" itemValue="Sick" />
								<f:selectItem itemLabel="#{app.Dead}" itemValue="Dead" />
							</p:selectOneMenu>
							<h:message for="wifehealthStatus" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="wifeFamilyStatus"
								value="#{app.wifeFamilyStatus}:" />
						</div>
						<div class="col-md-9">
							<p:selectOneMenu id="wifeFamilyStatus"
								value="#{fileBean.file.wifeFamilyStatus}"
								filter="#{fileBean.file.wifeFamilyStatus}"
								filterMatchMode="contains">
								<f:selectItem />
								<f:selectItem itemLabel="#{app.WithTheFamily}"
									itemValue="WithTheFamily" />
								<f:selectItem itemLabel="#{app.WithoutTheFamily}"
									itemValue="WithoutTheFamily" />
							</p:selectOneMenu>
							<h:message for="wifeFamilyStatus" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="wifeMarriedAgain"
								value="#{app.wifeMarriedAgain}:" />
						</div>
						<div class="col-md-9">
							<p:inputSwitch id="wifeMarriedAgain"
								value="#{fileBean.file.wifeMarriedAgain}" />
							<h:message for="wifeMarriedAgain" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="wifeFamilyResponsibility"
								value="#{app.wifeFamilyResponsibility}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="wifeFamilyResponsibility"
								styleClass="form-control"
								value="#{fileBean.file.wifeFamilyResponsibility}" />
							<h:message for="wifeFamilyResponsibility" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="wifeResponsibleContribution"
								value="#{app.wifeResponsibleContribution}:" />
						</div>
						<div class="col-md-9">
							<p:inputNumber id="wifeResponsibleContribution"
								inputStyleClass="form-control"
								value="#{fileBean.file.wifeResponsibleContribution}"
								styleClass="money" symbol="$" symbolPosition="s"
								decimalSeparator="." thousandSeparator="," minValue="0" />
							<h:message for="wifeResponsibleContribution" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="wifeExHusbandName"
								value="#{app.wifeExHusbandName}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="wifeExHusbandName" styleClass="form-control"
								value="#{fileBean.file.wifeExHusbandName}" />
							<h:message for="wifeExHusbandName" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="wifeExHusbandJob"
								value="#{app.wifeExHusbandJob}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="wifeExHusbandJob" styleClass="form-control"
								value="#{fileBean.file.wifeExHusbandJob}" />
							<h:message for="wifeExHusbandJob" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="wifeExHusbandStatus" value="#{app.wifeExHusbandStatus}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="wifeExHusbandStatus" styleClass="form-control"
								value="#{fileBean.file.wifeExHusbandStatus}" />
							<h:message for="wifeExHusbandStatus" styleClass="error" />
						</div>
					</div>
				</div>

				<!-- Wife Job Information -->

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="wifeCurrentlyWorking" value="#{app.wifeCurrentlyWorking}:" />
						</div>
						<div class="col-md-9">
							<p:inputSwitch id="wifeCurrentlyWorking"
								value="#{fileBean.file.wifeCurrentlyWorking}" />
							<h:message for="wifeCurrentlyWorking" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="wifeRequestWorking" value="#{app.wifeRequestWorking}:" />
						</div>
						<div class="col-md-9">
							<p:inputSwitch id="wifeRequestWorking"
								value="#{fileBean.file.wifeRequestWorking}" />
							<h:message for="wifeRequestWorking" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="wifePreferedWork"
								value="#{app.wifePreferedWork}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="wifePreferedWork" styleClass="form-control"
								value="#{fileBean.file.wifePreferedWork}" />
							<h:message for="wifePreferedWork" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="wifeWorkType"
								value="#{app.wifeWorkType}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="wifeWorkType" styleClass="form-control"
								value="#{fileBean.file.wifeWorkType}" />
							<h:message for="wifeWorkType" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="wifeWorkAddress"
								value="#{app.wifeWorkAddress}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="wifeWorkAddress" styleClass="form-control"
								value="#{fileBean.file.wifeWorkAddress}" />
							<h:message for="wifeWorkAddress" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="wifeWorkPhoneNumber" value="#{app.wifeWorkPhoneNumber}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="wifeWorkPhoneNumber" styleClass="form-control"
								value="#{fileBean.file.wifeWorkPhoneNumber}" />
							<h:message for="wifeWorkPhoneNumber" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="wifeWorkStartDate"
								value="#{app.wifeWorkStartDate}:" />
						</div>
						<div class="col-md-9">
							<p:calendar id="wifeWorkStartDate"
								value="#{fileBean.file.wifeWorkStartDate}" pattern="dd-MM-yyyy" />
							<h:message for="wifeWorkStartDate" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="wifeWorkSalary"
								value="#{app.wifeWorkSalary}:" />
						</div>
						<div class="col-md-9">
							<p:inputNumber id="wifeWorkSalary" inputStyleClass="form-control"
								value="#{fileBean.file.wifeWorkSalary}" styleClass="money"
								symbol="$" symbolPosition="s" decimalSeparator="."
								thousandSeparator="," minValue="0" />
							<h:message for="wifeWorkSalary" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="wifeInspectingNotes" value="#{app.wifeInspectingNotes}:" />
						</div>
						<div class="col-md-9">
							<p:inputTextarea id="wifeInspectingNotes"
								styleClass="form-control"
								value="#{fileBean.file.wifeInspectingNotes}" />
							<h:message for="wifeInspectingNotes" styleClass="error" />
						</div>
					</div>
				</div>

				<!-- People living with the family -->

				<!-- Information about the people of this family -->

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="familyPeopleInspectingNotes"
								value="#{app.familyPeopleInspectingNotes}:" />
						</div>
						<div class="col-md-9">
							<p:inputTextarea id="familyPeopleInspectingNotes"
								styleClass="form-control"
								value="#{fileBean.file.familyPeopleInspectingNotes}" />
							<h:message for="familyPeopleInspectingNotes" styleClass="error" />
						</div>
					</div>
				</div>

				<!-- residence -->

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="residenceType"
								value="#{app.residenceType}:" />
						</div>
						<div class="col-md-9">
							<p:selectOneMenu id="residenceType"
								value="#{fileBean.file.residenceType}"
								filter="#{fileBean.file.residenceType}"
								filterMatchMode="contains">
								<f:selectItem />
								<f:selectItem itemLabel="#{app.Own}" itemValue="Own" />
								<f:selectItem itemLabel="#{app.Rent}" itemValue="Rent" />
								<f:selectItem itemLabel="#{app.Share}" itemValue="Share" />
								<f:selectItem itemLabel="#{Publicity}" itemValue="Publicity" />
							</p:selectOneMenu>
							<h:message for="residenceType" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="residenceState"
								value="#{app.residenceState}:" />
						</div>
						<div class="col-md-9">
							<p:selectOneMenu id="residenceState"
								value="#{fileBean.file.residenceState}"
								filter="#{fileBean.file.residenceState}"
								filterMatchMode="contains">
								<f:selectItem />
								<f:selectItem itemLabel="#{app.Good}" itemValue="Good" />
								<f:selectItem itemLabel="#{app.Fair}" itemValue="Fair" />
								<f:selectItem itemLabel="#{app.Bad}" itemValue="Bad" />
							</p:selectOneMenu>
							<h:message for="residenceState" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="numberOfRooms"
								value="#{app.numberOfRooms}:" />
						</div>
						<div class="col-md-9">
							<p:inputNumber id="numberOfRooms" inputStyleClass="form-control"
								value="#{fileBean.file.numberOfRooms}" emptyValue="0"
								minValue="0" />
							<h:message for="numberOfRooms" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="residenceInspectingNotes"
								value="#{app.residenceInspectingNotes}:" />
						</div>
						<div class="col-md-9">
							<p:inputTextarea id="residenceInspectingNotes"
								styleClass="form-control"
								value="#{fileBean.file.residenceInspectingNotes}" />
							<h:message for="residenceInspectingNotes" styleClass="error" />
						</div>
					</div>
				</div>

				<!-- Belongings -->

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="belongingInspectingNotes"
								value="#{app.belongingInspectingNotes}:" />
						</div>
						<div class="col-md-9">
							<p:inputTextarea id="belongingInspectingNotes"
								styleClass="form-control"
								value="#{fileBean.file.belongingInspectingNotes}" />
							<h:message for="belongingInspectingNotes" styleClass="error" />
						</div>
					</div>
				</div>

				<!-- Aid, Income, OutCome -->

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="financialInspectingNotes"
								value="#{app.financialInspectingNotes}:" />
						</div>
						<div class="col-md-9">
							<p:inputTextarea id="financialInspectingNotes"
								styleClass="form-control"
								value="#{fileBean.file.financialInspectingNotes}" />
							<h:message for="financialInspectingNotes" styleClass="error" />
						</div>
					</div>
				</div>

				<!-- Notes -->

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label"
								for="socialSectionNotes" value="#{app.socialSectionNotes}:" />
						</div>
						<div class="col-md-9">
							<p:inputTextarea id="socialSectionNotes"
								styleClass="form-control"
								value="#{fileBean.file.socialSectionNotes}" />
							<h:message for="socialSectionNotes" styleClass="error" />
						</div>
					</div>
				</div>

				<!-- Recommended Aids -->

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="aidFinancial"
								value="#{app.aidFinancial}:" />
						</div>
						<div class="col-md-9">
							<p:inputSwitch id="aidFinancial"
								value="#{fileBean.file.aidFinancial}" />
							<h:message for="aidFinancial" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-9">
							<p:selectOneMenu id="aidFinancialWay"
								value="#{fileBean.file.aidFinancialWay}"
								filter="#{fileBean.file.aidFinancialWay}"
								filterMatchMode="contains">
								<f:selectItem />
								<f:selectItem itemLabel="#{app.aidFinancialFixed}"
									itemValue="Fixed" />
								<f:selectItem itemLabel="#{app.aidFinancialNotFixed}"
									itemValue="NotFixed" />
							</p:selectOneMenu>
							<h:message for="aidFinancialWay" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-9">
							<p:selectOneMenu id="aidFinancialType"
								value="#{fileBean.file.aidFinancialType}"
								filter="#{fileBean.file.aidFinancialType}"
								filterMatchMode="contains">
								<f:selectItem />
								<f:selectItem itemLabel="#{app.aidFinancialSahemImam}"
									itemValue="SahemImam" />
								<f:selectItem itemLabel="#{app.aidFinancialSahemSeda}"
									itemValue="SahemSeda" />
								<f:selectItem itemLabel="#{app.aidFinancialAytam}"
									itemValue="Aytam" />
								<f:selectItem itemLabel="#{app.aidFinancialSadakat}"
									itemValue="Sadakat" />
							</p:selectOneMenu>
							<h:message for="aidFinancialType" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="aidFood"
								value="#{app.aidFood}:" />
						</div>
						<div class="col-md-9">
							<p:inputSwitch id="aidFood" value="#{fileBean.file.aidFood}" />
							<h:message for="aidFood" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="aidFoodNotes"
								value="#{app.aidFoodNotes}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="aidFoodNotes" styleClass="form-control"
								value="#{fileBean.file.aidFoodNotes}" />
							<h:message for="aidFoodNotes" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="aidHealth"
								value="#{app.aidHealth}:" />
						</div>
						<div class="col-md-9">
							<p:inputSwitch id="aidHealth" value="#{fileBean.file.aidHealth}" />
							<h:message for="aidHealth" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-9">
							<p:selectOneMenu id="aidHealthType"
								value="#{fileBean.file.aidHealthType}"
								filter="#{fileBean.file.aidHealthType}"
								filterMatchMode="contains">
								<f:selectItem />
								<f:selectItem itemLabel="#{app.aidHealthMedicine}"
									itemValue="Medicine" />
								<f:selectItem itemLabel="#{app.aidHealthHospital}"
									itemValue="Hospital" />
								<f:selectItem itemLabel="#{app.aidHealthTreatment}"
									itemValue="Treatment" />
							</p:selectOneMenu>
							<h:message for="aidHealthType" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="aidHealthNotes"
								value="#{app.aidHealthNotes}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="aidHealthNotes" styleClass="form-control"
								value="#{fileBean.file.aidHealthNotes}" />
							<h:message for="aidHealthNotes" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="aidProjectOwning"
								value="#{app.aidProjectOwning}:" />
						</div>
						<div class="col-md-9">
							<p:inputSwitch id="aidProjectOwning"
								value="#{fileBean.file.aidProjectOwning}" />
							<h:message for="aidProjectOwning" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="aidProjectType"
								value="#{app.aidProjectType}:" />
						</div>
						<div class="col-md-9">
							<h:inputText id="aidProjectType" styleClass="form-control"
								value="#{fileBean.file.aidProjectType}" />
							<h:message for="aidProjectType" styleClass="error" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<div class="col-md-3">
							<h:outputLabel styleClass="control-label" for="aidProjectValue"
								value="#{app.aidProjectValue}:" />
						</div>
						<div class="col-md-9">
							<p:inputNumber id="aidProjectValue"
								inputStyleClass="form-control"
								value="#{fileBean.file.aidProjectValue}" styleClass="money"
								symbol="$" symbolPosition="s" decimalSeparator="."
								thousandSeparator="," minValue="0" />
							<h:message for="aidProjectValue" styleClass="error" />
						</div>
					</div>
				</div>

			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<div class="buttons">
					<h:commandLink value="#{app.save}" action='#{fileBean.update}'
						styleClass="btn btn-primary" />
					<c:choose>
						<c:when test='#{!empty fileBean.id}'>
							<h:link value="#{app.cancel}" outcome="view"
								styleClass="btn btn-warning">
								<f:param name="id" value='#{fileBean.id}' />
							</h:link>
							<h:commandLink value="#{app.delete}" styleClass="btn btn-danger"
								onclick="PF('deleteDialogVar').show()">
								<f:ajax />
							</h:commandLink>
						</c:when>
						<c:otherwise>
							<h:link value="#{app.cancel}" outcome="search"
								styleClass="btn btn-warning" />
						</c:otherwise>
					</c:choose>
				</div>
			</div>
		</div>

		<p:dialog id="deleteDialog" draggable="false" closable="false"
			modal="true" height="50" width="330" resizable="false"
			widgetVar="deleteDialogVar">
			<f:facet name="header">
				<h:outputText value="#{app.confirm_deletion} ??" />
			</f:facet>

			<h:commandLink value="#{app.ok}" action="#{fileBean.delete}"
				styleClass="btn btn-danger popup-buttons">
			</h:commandLink>
			<h:commandLink styleClass="btn btn-warning popup-buttons"
				onclick="PF('deleteDialogVar').hide()">
				<h:outputText value="#{app.cancel}" />
				<f:ajax />
			</h:commandLink>
		</p:dialog>
	</ui:define>

</ui:composition>