<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/scaffold/pageTemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewParam name="id" value='#{fileBean.id}' />
		<f:event type="preRenderView" listener='#{fileBean.retrieve}' />
	</f:metadata>

	<ui:param name="pageTitle"
		value="#{!empty fileBean.id ? app.edit_existing_file : app.create_new_file}" />

	<ui:define name="header">
		#{app.File}
	</ui:define>


	<ui:define name="footer" />

	<ui:define name="main">


		<h:messages globalOnly="true" styleClass="error" />

		<h:outputStylesheet name="create.css" library="pages" />

		<div class="col-md-12">
			<div class="row">

				<div class="main-information snippet">
					<ui:include src="/resources/snippets/main-information.xhtml" />
				</div>

				<div class="husband-personal-information snippet">
					<ui:include
						src="/resources/snippets/husband-personl-information.xhtml" />
				</div>

				<div class="husband-job-information snippet">
					<ui:include src="/resources/snippets/husband-job-information.xhtml" />
				</div>

				<div class="wife-personal-information snippet">
					<ui:include
						src="/resources/snippets/wife-personal-information.xhtml" />
				</div>

				<div class="wife-job-information snippet">
					<ui:include src="/resources/snippets/wife-job-information.xhtml" />
				</div>

				<div class="relativefamilyPeoples snippet">
					<ui:include src="/resources/snippets/relativefamilyPeoples.xhtml" />
				</div>

				<div class="familyPeoplePrivate snippet">
					<ui:include src="/resources/snippets/familyPeoplePrivate.xhtml" />
				</div>

				<div class="marriedChildren snippet">
					<ui:include src="/resources/snippets/marriedChildren.xhtml" />
				</div>

				<div class="educationalPeople snippet">
					<ui:include src="/resources/snippets/educationalPeople.xhtml" />
				</div>

				<div class="sickPeople snippet">
					<ui:include src="/resources/snippets/sickPeople.xhtml" />
				</div>

				<div class="workingPeople snippet">
					<ui:include src="/resources/snippets/working-people-family.xhtml" />
				</div>

				<div class="residence snippet">
					<ui:include src="/resources/snippets/residence.xhtml" />
				</div>

				<div class="belongings snippet">
					<ui:include src="/resources/snippets/belongings.xhtml" />
				</div>

				<div class="aid snippet">
					<ui:include src="/resources/snippets/aid.xhtml" />
				</div>

				<div class="income snippet">
					<ui:include src="/resources/snippets/income.xhtml" />
				</div>

				<div class="outcome snippet">
					<ui:include src="/resources/snippets/outcome.xhtml" />
				</div>

				<div class="notes snippet">
					<ui:include src="/resources/snippets/notes.xhtml" />
				</div>

				<div class="recommended-aids snippet">
					<ui:include src="/resources/snippets/recommended-aids.xhtml" />
				</div>

				<div class="attachments snippet">
					<ui:include src="/resources/snippets/attachments.xhtml" />
				</div>

			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
				<div class="buttons">
					<h:commandLink value="#{app.save}" action='#{fileBean.update}'
						styleClass="btn btn-primary" />
					<c:choose>
						<c:when test='#{!empty fileBean.id}'>
							<h:link value="#{app.cancel}" outcome="search"
								styleClass="btn btn-warning">
								<f:param name="id" value='#{fileBean.id}' />
							</h:link>
							<h:commandLink value="#{app.delete}" styleClass="btn btn-danger"
								onclick="PF('deleteDialogVar').show()">
								<f:ajax />
							</h:commandLink>
						</c:when>
						<c:otherwise>
							<h:link value="#{app.cancel}" outcome="search"
								styleClass="btn btn-warning" />
						</c:otherwise>
					</c:choose>
				</div>
			</div>
		</div>

		<p:dialog id="deleteDialog" draggable="false" closable="false"
			modal="true" height="50" width="330" resizable="false"
			widgetVar="deleteDialogVar">
			<f:facet name="header">
				<h:outputText value="#{app.confirm_deletion} ??" />
			</f:facet>

			<h:commandLink value="#{app.ok}" action="#{fileBean.delete}"
				styleClass="btn btn-danger popup-buttons">
			</h:commandLink>
			<h:commandLink styleClass="btn btn-warning popup-buttons"
				onclick="PF('deleteDialogVar').hide()">
				<h:outputText value="#{app.cancel}" />
				<f:ajax />
			</h:commandLink>
		</p:dialog>


		<h:outputScript name="selectOneMenu.js" library="js" />
		<h:outputScript name="calendar.js" library="js" />
		<script type="text/javascript"
			src="../resources/plugins/selectize/js/standalone/selectize.min.js"></script>
		<h:outputScript name="create.js" library="pages" />

	</ui:define>

</ui:composition>