<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/searchTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="page" value='#{fileBean.page}' />
		<f:event type="preRenderView" listener='#{fileBean.paginate}' />
	</f:metadata>

	<ui:param name="pageTitle" value="#{app.social_files}" />

	<ui:define name="header">
		#{app.social_files}
	</ui:define>

	<ui:define name="subheader">#{app.search_files}
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		<h:form id="search">

			<h:outputStylesheet name="search.css" library="pages" />

			<h:panelGroup styleClass="search">

				<div class="row">
					<div class="col-md-8">

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label" for="husbandName"
									value="#{app.husbandName}:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="husbandName" styleClass="form-control"
									value="#{fileBean.example.husbandName}" />
								<h:message for="husbandName" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label" for="wifeName"
									value="#{app.wifeName}:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="wifeName" styleClass="form-control"
									value="#{fileBean.example.wifeName}" />
								<h:message for="wifeName" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label" for="firstPhoneNumber"
									value="#{app.firstPhoneNumber}:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="firstPhoneNumber" styleClass="form-control"
									value="#{fileBean.example.firstPhoneNumber}" />
								<h:message for="firstPhoneNumber" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label" for="homeAddress"
									value="#{app.homeAddress}:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="homeAddress" styleClass="form-control"
									value="#{fileBean.example.homeAddress}" />
								<h:message for="homeAddress" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label" for="caseType"
									value="#{app.caseType}:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="caseType" styleClass="form-control"
									value="#{fileBean.example.caseType}" />
								<h:message for="caseType" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label" for="inspector"
									value="#{app.inspector}:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="inspector" styleClass="form-control"
									value="#{fileBean.example.inspector}" />
								<h:message for="inspector" styleClass="error" />
							</div>
						</div>

					</div>

					<div class="col-md-4">
						<span class="logo" />
					</div>

				</div>


				<h:panelGroup styleClass="buttons">
					<h:commandLink value="#{app.search}" action='#{fileBean.search}'
						styleClass="btn btn-primary" />
					<h:commandLink value="#{app.new}" action='#{fileBean.create}'
						styleClass="btn btn-success" />
				</h:panelGroup>

			</h:panelGroup>

			<h:dataTable id="fileBeanPageItems" styleClass="data-table"
				value="#{fileBean.pageItems}" var="file">

				<h:column>
					<f:facet name="header">
						<h:outputText value="#{app.husbandName}" />
					</f:facet>
					<h:link outcome="/file/create">
						<f:param name="id" value="#{file.id}" />
						<h:outputText id="husbandName" value="#{file.husbandName}" />
					</h:link>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="#{app.wifeName}" />
					</f:facet>
					<h:link outcome="/file/create">
						<f:param name="id" value="#{file.id}" />
						<h:outputText id="wifeName" value="#{file.wifeName}" />
					</h:link>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="#{app.firstPhoneNumber}" />
					</f:facet>
					<h:link outcome="/file/create">
						<f:param name="id" value="#{file.id}" />
						<h:outputText id="firstPhoneNumber"
							value="#{file.firstPhoneNumber}" />
					</h:link>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="#{app.inspector}" />
					</f:facet>
					<h:link outcome="/file/create">
						<f:param name="id" value="#{file.id}" />
						<h:outputText id="inspector" value="#{file.inspector}" />
					</h:link>
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="#{app.caseType}" />
					</f:facet>
					<h:link outcome="/file/create">
						<f:param name="id" value="#{file.id}" />
						<h:outputText id="caseType" value="#{file.caseType}" />
					</h:link>
				</h:column>

			</h:dataTable>
			<ui:include src="/resources/scaffold/paginator.xhtml">
				<ui:param name="paginatorBean" value='#{fileBean}' />
			</ui:include>
		</h:form>

	</ui:define>

</ui:composition>
