.attachmentHeaderText {
	position: absolute;
	right: 25px;
	padding: 10px;
}

.attachmentHeaderButton {
	position: absolute;
	left: 25px;
	margin: 5px;
}

.ui-datatable-header {
	height: 47px;
}