<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>#{empty pageTitle ? 'Page Title' : pageTitle}</title>
	<link rel="icon" href='#{resource["favicon.ico"]}' />


	<h:outputStylesheet library="plugins"
		name="bootstrap/css/bootstrap.css" />

	<link rel="stylesheet"
		href="../resources/font-awesome/css/font-awesome.css" />
	<h:outputStylesheet name="forge-style.css" />
	<h:outputStylesheet name="override.css" />

	<h:outputStylesheet library="plugins"
		name="bootstrap/bootstrap-rtl.min.css" />

	<h:outputScript library="primefaces" name="jquery/jquery.js"
		target="head" />
	<h:outputScript library="primefaces" name="jquery/jquery-plugins.js"
		target="head" />


	<link rel="stylesheet" type="text/css"
		href="../resources/plugins/selectize/css/selectize.bootstrap3.css"></link>
	<link rel="stylesheet" type="text/css"
		href="../resources/plugins/selectize/css/selectize.css"></link>

	<h:outputStylesheet name="css/attachment.css" />
	<h:outputStylesheet name="css/selectOneMenu.css" />
	<h:outputStylesheet name="css/datatable-rtl.css" />
	<h:outputStylesheet name="helper.css" />


</h:head>

<h:body>

	<h:form id="create" prependId="false">
		<ui:debug
			rendered="#{facesContext.application.projectStage == 'Development'}" />
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<h:link id="brandLink" outcome="/file/search.xhtml"
						styleClass="brand">
				#{app.Talia}
				</h:link>
				</div>
			</div>
		</div>

		<div class="container forgecontainer">
			<div id="navigation">
				<h:link id="homeLink" outcome="file/search.xhtml">
					<h:graphicImage value='#{resource["logo.jpg"]}' alt="Talia"
						border="0" />
				</h:link>
				<ul>
					<li><h:commandLink
							styleClass="navigation-button main-information-button active"
							value="#{app.main_information}" onclick="mainInformation()">
							<f:ajax />
						</h:commandLink></li>
					<li><h:commandLink
							styleClass="navigation-button husband-personal-button"
							value="#{app.husband_personal_information}"
							onclick="husbandPersonalInformation()">
							<f:ajax />
						</h:commandLink></li>
					<li><h:commandLink
							styleClass="navigation-button husband-work-button"
							value="#{app.husbandWorks}" onclick="husbandJobInformation()">
							<f:ajax />
						</h:commandLink></li>
					<li><h:commandLink
							styleClass="navigation-button wife-personal-button"
							value="#{app.wife_personal_information}"
							onclick="wifePersonalInformation()">
							<f:ajax />
						</h:commandLink></li>
					<li><h:commandLink
							styleClass="navigation-button wife-job-button"
							value="#{app.wife_private}"
							onclick="wifeJobInformation();initWifePreferedWork();">
							<f:ajax />
						</h:commandLink></li>
					<li><h:commandLink
							styleClass="navigation-button relative-people-button"
							value="#{app.relativefamilyPeoples}"
							onclick="relativefamilyPeoples()">
							<f:ajax />
						</h:commandLink></li>
					<li><h:commandLink
							styleClass="navigation-button family-people-private-button"
							value="#{app.family_people_private}"
							onclick="familyPeoplePrivate()">
							<f:ajax />
						</h:commandLink></li>
					<li><h:commandLink
							styleClass="navigation-button married-children-button"
							value="#{app.marriedChildren}" onclick="marriedChildren()">
							<f:ajax />
						</h:commandLink></li>
					<li><h:commandLink
							styleClass="navigation-button educational-people-button"
							value="#{app.educationalPeople}" onclick="educationalPeople()">
							<f:ajax />
						</h:commandLink></li>
					<li><h:commandLink
							styleClass="navigation-button sick-people-button"
							value="#{app.sickPeople}" onclick="sickPeople()">
							<f:ajax />
						</h:commandLink></li>
					<li><h:commandLink
							styleClass="navigation-button working-people-button"
							value="#{app.workingPeople}" onclick="workingPeopleFamily()">
							<f:ajax />
						</h:commandLink></li>
					<li><h:commandLink
							styleClass="navigation-button residence-button"
							value="#{app.residence_information}" onclick="residence()">
							<f:ajax />
						</h:commandLink></li>
					<li><h:commandLink
							styleClass="navigation-button belongings-button"
							value="#{app.belongings}" onclick="belongings()">
							<f:ajax />
						</h:commandLink></li>
					<li><h:commandLink styleClass="navigation-button aids-button"
							value="#{app.familyAids}" onclick="aid()">
							<f:ajax />
						</h:commandLink></li>
					<li><h:commandLink
							styleClass="navigation-button incomes-button"
							value="#{app.familyIncomes}" onclick="income()">
							<f:ajax />
						</h:commandLink></li>
					<li><h:commandLink
							styleClass="navigation-button outcomes-button"
							value="#{app.familyOutcomes}" onclick="outcome()">
							<f:ajax />
						</h:commandLink></li>
					<li><h:commandLink
							styleClass="navigation-button section-notes-button"
							value="#{app.socialSectionNotes}" onclick="notes()">
							<f:ajax />
						</h:commandLink></li>
					<li><h:commandLink
							styleClass="navigation-button aid-types-button"
							value="#{app.aids_types}" onclick="recommendedAids()">
							<f:ajax />
						</h:commandLink></li>
					<li><h:commandLink
							styleClass="navigation-button attachments-button"
							value="#{app.attachments}" onclick="attachments()">
							<f:ajax />
						</h:commandLink></li>
				</ul>
			</div>

			<div id="content">
				<h1>
					<ui:insert name="header" />
				</h1>
				<h2>
					<ui:insert name="subheader" />
				</h2>

				<ui:insert name="main" />
			</div>
		</div>

		<footer>
			<div id="footer-wrapper">
				<p>
					<I>Powered by D7noun</I>
				</p>
				<p>mohammadhady.hadwan@gmail.com</p>
				<p>9613072121</p>
			</div>
		</footer>
	</h:form>

</h:body>
</html>