<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>#{empty pageTitle ? 'Page Title' : pageTitle}</title>
	<link rel="icon" href='#{resource["favicon.ico"]}' />


	<h:outputStylesheet library="plugins"
		name="bootstrap/css/bootstrap.css" />

	<h:outputStylesheet name="forge-style.css" />
	<h:outputStylesheet name="override.css" />

	<h:outputStylesheet library="plugins"
		name="bootstrap/bootstrap-rtl.min.css" />

	<h:outputScript library="primefaces" name="jquery/jquery.js"
		target="head" />
	<h:outputScript library="primefaces" name="jquery/jquery-plugins.js"
		target="head" />

	<h:outputStylesheet name="font-awesome/css/font-awesome.css" />
</h:head>

<h:body>
	<ui:debug
		rendered="#{facesContext.application.projectStage == 'Development'}" />
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<h:link id="brandLink" outcome="/file/search.xhtml"
					styleClass="brand">
				#{app.Talia}
				</h:link>
			</div>
		</div>
	</div>

	<div class="container forgecontainer">

		<div id="content">
			<h1>
				<ui:insert name="header" />
			</h1>
			<h2>
				<ui:insert name="subheader" />
			</h2>

			<ui:insert name="main" />
		</div>
	</div>

	<footer>
		<div id="footer-wrapper">
			<p>
				<I>Powered by D7noun</I>
			</p>
			<p>mohammadhady.hadwan@gmail.com</p>
			<p>9613072121</p>
		</div>
	</footer>

</h:body>
</html>