<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">


<div class="row">
	<div class="col-md-12">

		<p:dataTable id="familyAidDataTable" rows="50" paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15,20,50,100,200"
			widgetVar="familyAidDataTableVar" paginatorAlwaysVisible="false"
			paginatorPosition="bottom" value="#{fileBean.file.familyAids}"
			var="item" rowKey="#{item.id}" rowIndexVar="index"
			emptyMessage="#{app.empty_table}">

			<f:facet name="header">
				<h:outputText value="#{app.familyAids}" styleClass="headerText" />

				<h:commandLink action="#{fileBean.openAddFamilyAidDialog()}"
					styleClass="btn btn-primary white headerButton">
					<f:ajax />
					<i class="fa fa-plus white" />
				</h:commandLink>
			</f:facet>

			<p:column id="index" width="50">
				<h:outputText value="#{index+1}"></h:outputText>
			</p:column>

			<p:column id="delete" width="50">
				<h:commandLink styleClass="btn btn-sm btn-danger white"
					action="#{fileBean.selectFamilyAidForDelete(item)}"
					onclick="PF('deleteFamilyAidDialogVar').show()">
					<i class="fa fa-trash white" />
					<f:ajax />
				</h:commandLink>
			</p:column>

			<p:column id="edit" width="50">
				<h:commandLink styleClass="btn btn-sm btn-success white"
					action="#{fileBean.openEditFamilyAidDialog(item)}">
					<i class="fa fa-pencil white" />
					<p:ajax update="editFamilyAidDialog"
						oncomplete="PF('editFamilyAidDialogVar').show()" />
				</h:commandLink>
			</p:column>

			<p:column id="familyAidParty"
				headerText="#{app.FamilyAidfamilyAidParty}"
				filterBy="#{fileBean.getText(item.familyAidParty)}"
				filterMatchMode="contains"
				sortBy="#{fileBean.getText(item.familyAidParty)}">
				<h:outputText value="#{fileBean.getText(item.familyAidParty)}"
					title="#{fileBean.getText(item.familyAidParty)}" />
			</p:column>

			<p:column id="familyAidType"
				headerText="#{app.FamilyAidfamilyAidType}"
				filterBy="#{fileBean.getText(item.familyAidType)}"
				filterMatchMode="contains"
				sortBy="#{fileBean.getText(item.familyAidType)}">
				<h:outputText value="#{fileBean.getText(item.familyAidType)}"
					title="#{fileBean.getText(item.familyAidType)}" />
			</p:column>

			<p:column id="FamilyAidvalue" headerText="#{app.FamilyAidvalue}"
				filterBy="#{item.value}" filterMatchMode="contains"
				sortBy="#{item.value}">
				<h:outputText value="#{item.value}" title="#{item.value}" />
			</p:column>

			<p:column id="FamilyAidnotes" headerText="#{app.FamilyAidnotes}"
				filterBy="#{item.notes}" filterMatchMode="contains"
				sortBy="#{item.notes}">
				<h:outputText value="#{item.notes}" title="#{item.notes}" />
			</p:column>

		</p:dataTable>

		<p:dialog id="editFamilyAidDialog" widgetVar="editFamilyAidDialogVar"
			showHeader="false" closable="true" showEffect="clip"
			hideEffect="clip" draggable="false" maximizable="false" modal="true"
			width="800" height="350" resizable="false" styleClass="addDialog"
			onShow="updateComponents()">

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.FamilyAidfamilyAidParty}" />
							</div>
							<div class="col-md-8">
								<p:selectOneMenu
									value="#{fileBean.editFamilyAid.familyAidParty}">
									<f:selectItem />
									<f:selectItem itemLabel="#{app.Emdad}" itemValue="Emdad" />
									<f:selectItem itemLabel="#{app.Sayyid}" itemValue="Sayyid" />
									<f:selectItem itemLabel="#{app.Banin}" itemValue="Banin" />
									<f:selectItem itemLabel="#{app.Sila}" itemValue="Sila" />
								</p:selectOneMenu>
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.FamilyAidfamilyAidType}" />
							</div>
							<div class="col-md-8">
								<p:selectOneMenu value="#{fileBean.editFamilyAid.familyAidType}">
									<f:selectItem />
									<f:selectItem itemLabel="#{app.Social}" itemValue="Social" />
									<f:selectItem itemLabel="#{app.Health}" itemValue="Health" />
									<f:selectItem itemLabel="#{app.Custody}" itemValue="Custody" />
									<f:selectItem itemLabel="#{app.Supply}" itemValue="Supply" />
								</p:selectOneMenu>
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.FamilyAidvalue}" />
							</div>
							<div class="col-md-8">
								<p:inputNumber inputStyleClass="form-control"
									value="#{fileBean.editFamilyAid.value}" styleClass="money"
									symbol="$" symbolPosition="s" decimalSeparator="."
									thousandSeparator="," minValue="0" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.FamilyAidnotes}" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{fileBean.editFamilyAid.notes}" />
							</div>
						</div>

					</div>
				</div>

			</div>

			<f:facet name="footer">

				<h:commandLink rendered="#{fileBean.editAidBoolean}"
					value="#{app.ok}" styleClass="btn btn-primary popup-buttons"
					onclick="PF('editFamilyAidDialogVar').hide()">
					<p:ajax process="editFamilyAidDialog"
						oncomplete="PF('familyAidDataTableVar').filter()" />
				</h:commandLink>
				<h:commandLink rendered="#{!fileBean.editAidBoolean}"
					value="#{app.ok}" styleClass="btn btn-primary popup-buttons"
					onclick="PF('editFamilyAidDialogVar').hide()"
					action="#{fileBean.editFamilyAid()}">
					<p:ajax process="editFamilyAidDialog"
						oncomplete="PF('familyAidDataTableVar').filter()" />
				</h:commandLink>

				<h:commandLink styleClass="btn btn-danger popup-buttons"
					onclick="PF('editFamilyAidDialogVar').hide()">
					<h:outputText value="#{app.cancel}" />
					<f:ajax />
				</h:commandLink>
			</f:facet>

		</p:dialog>

		<p:dialog id="deleteFamilyAidDialog" draggable="false"
			closable="false" showEffect="clip" hideEffect="clip" modal="true"
			height="50" width="350" resizable="false"
			widgetVar="deleteFamilyAidDialogVar">
			<f:facet name="header">
				<h:outputText value="#{app.confirm_deletion}" />
			</f:facet>

			<h:commandLink value="#{app.ok}"
				action="#{fileBean.removeFamilyAid()}"
				styleClass="btn btn-primary popup-buttons"
				onclick="PF('deleteFamilyAidDialogVar').hide()">
				<p:ajax oncomplete="PF('familyAidDataTableVar').filter()" />
			</h:commandLink>
			<h:commandLink styleClass="btn btn-danger popup-buttons"
				onclick="PF('deleteFamilyAidDialogVar').hide()">
				<h:outputText value="#{app.cancel}" />
				<f:ajax />
			</h:commandLink>
		</p:dialog>

	</div>
</div>



</html>