<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<div class="row">
	<div class="col-md-12">
		<p:dataTable id="attachmentsDataTable" widgetVar="attachmentVar"
			rows="5" paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15,20,50" paginatorAlwaysVisible="false"
			paginatorPosition="bottom" value="#{fileBean.file.attachments}"
			var="attachment" rowKey="#{attachment.id}" rowIndexVar="index"
			editable="true" editMode="cell" emptyMessage="#{app.empty_table}">

			<f:facet name="header">

				<h:outputText value="#{app.attachments}"
					styleClass="attachmentHeaderText" />

				<p:fileUpload widgetVar="fileUploadVar" multiple="true" auto="true"
					styleClass="fileUploader hide"
					fileUploadListener="#{fileBean.handleFileUpload}"
					process="@this attachmentsDataTable" update="attachmentsDataTable" />

				<h:commandLink onclick="$('.fileUploader input').click()"
					styleClass="btn btn-primary white attachmentHeaderButton">
					<f:ajax />
					<i class="fa fa-plus white" />
				</h:commandLink>

			</f:facet>

			<p:column id="index" width="50">
				<h:outputText value="#{index+1}"></h:outputText>
			</p:column>

			<p:column id="actions" width="50">
				<h:commandLink styleClass="btn btn-sm btn-danger white"
					action="#{fileBean.selectForDelete(attachment)}"
					onclick="PF('deleteAttachmentDialogVar').show()">
					<i class="fa fa-trash white" />
					<f:ajax />
				</h:commandLink>
			</p:column>

			<p:column id="attachmentName" headerText="#{app.attachmentName}"
				filterMatchMode="contains" filterBy="#{attachment.fileName}"
				sortBy="#{attachment.fileName}" styleClass="attachmentName-column"
				width="">
				<h:outputText value="#{attachment.fileName}"
					title="#{attachment.fileName}" />
			</p:column>

			<p:column id="attachmentSize" headerText="#{app.attachmentSize}"
				sortBy="#{attachment.size}" style="text-align: center">
				<h:outputText value="#{attachment.sizeInMegaByte}"
					title="#{attachment.sizeInMegaByte}" />
			</p:column>

			<p:column id="attachmentType" headerText="#{app.attachmentType}"
				filterMatchMode="contains" filterBy="#{attachment.attachmentType}"
				sortBy="#{attachment.attachmentType}"
				styleClass="attachmentType-column">
				<p:selectOneMenu value="#{attachment.attachmentType}">
					<f:selectItem />
					<f:selectItem itemLabel="#{app.DeadPaper}" itemValue="Dead" />
					<f:selectItem itemLabel="#{app.Divorce}" itemValue="Divorce" />
					<f:selectItem itemLabel="#{app.Family}" itemValue="Family" />
					<f:selectItem itemLabel="#{app.FirstBenefit}"
						itemValue="FirstBenefit" />
					<f:selectItem itemLabel="#{app.Husband}" itemValue="Husband" />
					<f:selectItem itemLabel="#{app.Medical}" itemValue="Medical" />
					<f:selectItem itemLabel="#{app.Medicine}" itemValue="Medicine" />
				</p:selectOneMenu>
			</p:column>

			<p:column id="notes" headerText="Notes" filterMatchMode="contains"
				filterBy="#{attachment.notes}" sortBy="#{attachment.notes}"
				styleClass="attachmentNotes-column">
				<h:inputText value="#{attachment.notes}" styleClass="form-control" />
			</p:column>

			<p:column width="50">
				<h:commandLink action="#{fileBean.download(attachment)}"
					styleClass="btn btn-sm btn-primary">
					<i class="fa fa-download white" />
				</h:commandLink>

			</p:column>

		</p:dataTable>
	</div>
</div>


<p:dialog id="deleteAttachmentDialog" draggable="false" closable="false"
	modal="true" height="50" width="310" resizable="false"
	widgetVar="deleteAttachmentDialogVar">

	<f:facet name="header">
		<h:outputText value="Confirm Deletion????" />
	</f:facet>

	<h:commandLink value="Ok" action="#{fileBean.deleteAttachment()}"
		onclick="PF('deleteAttachmentDialogVar').hide()"
		styleClass="btn btn-sm btn-primary popup-buttons">
		<f:ajax render="attachmentsDataTable" />
	</h:commandLink>
	<h:commandLink value="Cancel"
		styleClass="btn btn-sm btn-danger popup-buttons"
		onclick="PF('deleteAttachmentDialogVar').hide()">
		<f:ajax />
	</h:commandLink>
</p:dialog>

</html>