<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">


<!-- Belongings -->

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label"
				for="belongingInspectingNotes"
				value="#{app.belongingInspectingNotes}:" />
		</div>
		<div class="col-md-9">
			<p:inputTextarea id="belongingInspectingNotes"
				styleClass="form-control"
				value="#{fileBean.file.belongingInspectingNotes}" />
			<h:message for="belongingInspectingNotes" styleClass="error" />
		</div>
	</div>
</div>



<div class="row">
	<div class="col-md-12 margin-top-two">

		<p:dataTable id="belongingDataTable" rows="50" paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15,20,50,100,200"
			widgetVar="belongingDataTableVar" paginatorAlwaysVisible="false"
			paginatorPosition="bottom" value="#{fileBean.file.belongings}"
			var="item" rowKey="#{item.id}" rowIndexVar="index"
			emptyMessage="#{app.empty_table}">

			<f:facet name="header">
				<h:outputText value="#{app.belongings}" styleClass="headerText" />

				<h:commandLink action="#{fileBean.openAddBelongingDialog()}"
					styleClass="btn btn-primary white headerButton">
					<f:ajax />
					<i class="fa fa-plus white" />
				</h:commandLink>
			</f:facet>

			<p:column id="index" width="50">
				<h:outputText value="#{index+1}"></h:outputText>
			</p:column>

			<p:column id="delete" width="50">
				<h:commandLink styleClass="btn btn-sm btn-danger white"
					action="#{fileBean.selectBelongingForDelete(item)}"
					onclick="PF('deleteBelongingDialogVar').show()">
					<i class="fa fa-trash white" />
					<f:ajax />
				</h:commandLink>
			</p:column>

			<p:column id="edit" width="50">
				<h:commandLink styleClass="btn btn-sm btn-success white"
					action="#{fileBean.openEditBelongingDialog(item)}">
					<i class="fa fa-pencil white" />
					<p:ajax update="editBelongingDialog"
						oncomplete="PF('editBelongingDialogVar').show()" />
				</h:commandLink>
			</p:column>

			<p:column id="Belongingtype" headerText="#{app.Belongingtype}"
				filterBy="#{item.type}" filterMatchMode="contains"
				sortBy="#{item.type}">
				<h:outputText value="#{fileBean.getText(item.type)}"
					title="#{fileBean.getText(item.type)}" />
			</p:column>

			<p:column id="Belongingvalue" headerText="#{app.Belongingvalue}"
				filterBy="#{item.value}" filterMatchMode="contains"
				sortBy="#{item.value}">
				<h:outputText value="#{item.value}" title="#{item.value}" />
			</p:column>

			<p:column id="Belongingbenefit" headerText="#{app.Belongingbenifit}"
				filterBy="#{item.benifit}" filterMatchMode="contains"
				sortBy="#{item.benifit}">
				<h:outputText value="#{fileBean.getText(item.benifit)}"
					title="#{fileBean.getText(item.benifit)}" />
			</p:column>

			<p:column id="Belongingnotes" headerText="#{app.Belongingnotes}"
				filterBy="#{item.notes}" filterMatchMode="contains"
				sortBy="#{item.notes}">
				<h:outputText value="#{item.notes}" title="#{item.notes}" />
			</p:column>

		</p:dataTable>

		<p:dialog id="editBelongingDialog" widgetVar="editBelongingDialogVar"
			showHeader="false" closable="true" showEffect="clip"
			hideEffect="clip" draggable="false" maximizable="false" modal="true"
			width="800" height="350" resizable="false" styleClass="addDialog"
			onShow="updateComponents()">

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.Belongingtype}" />
							</div>
							<div class="col-md-8">
								<p:selectOneMenu value="#{fileBean.editBelonging.type}">
									<f:selectItem />
									<f:selectItem itemLabel="#{app.House}" itemValue="House" />
									<f:selectItem itemLabel="#{app.Shop}" itemValue="Shop" />
									<f:selectItem itemLabel="#{app.Land}" itemValue="Land" />
									<f:selectItem itemLabel="#{app.Vehicle}" itemValue="Vehicle" />
									<f:selectItem itemLabel="#{app.MotorCycle}"
										itemValue="MotorCycle" />
									<f:selectItem itemLabel="#{app.Money}" itemValue="Money" />
									<f:selectItem itemLabel="#{app.Others}" itemValue="Others" />
								</p:selectOneMenu>
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.Belongingvalue}" />
							</div>
							<div class="col-md-8">
								<p:inputNumber inputStyleClass="form-control"
									value="#{fileBean.editBelonging.value}" styleClass="money"
									symbol="$" symbolPosition="s" decimalSeparator="."
									thousandSeparator="," minValue="0" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.Belongingbenifit}" />
							</div>
							<div class="col-md-8">
								<p:selectOneMenu value="#{fileBean.editBelonging.benifit}">
									<f:selectItem />
									<f:selectItem itemLabel="#{app.Renting}" itemValue="Renting" />
									<f:selectItem itemLabel="#{app.Planting}" itemValue="Planting" />
									<f:selectItem itemLabel="#{app.Investment}"
										itemValue="Investment" />
									<f:selectItem itemLabel="#{app.Others}" itemValue="Others" />
								</p:selectOneMenu>
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.Belongingnotes}" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{fileBean.editBelonging.notes}" />
							</div>
						</div>

					</div>
				</div>
			</div>

			<f:facet name="footer">

				<h:commandLink rendered="#{fileBean.editBelongingBoolean}"
					value="#{app.ok}" styleClass="btn btn-primary popup-buttons"
					onclick="PF('editBelongingDialogVar').hide()">
					<p:ajax process="editBelongingDialog"
						oncomplete="PF('belongingDataTableVar').filter()" />
				</h:commandLink>
				<h:commandLink rendered="#{!fileBean.editBelongingBoolean}"
					value="#{app.ok}" styleClass="btn btn-primary popup-buttons"
					onclick="PF('editBelongingDialogVar').hide()"
					action="#{fileBean.editBelonging()}">
					<p:ajax process="editBelongingDialog"
						oncomplete="PF('belongingDataTableVar').filter()" />
				</h:commandLink>

				<h:commandLink styleClass="btn btn-danger popup-buttons"
					onclick="PF('editBelongingDialogVar').hide()">
					<h:outputText value="#{app.cancel}" />
					<f:ajax />
				</h:commandLink>
			</f:facet>
		</p:dialog>

		<p:dialog id="deleteBelongingDialog" draggable="false"
			closable="false" showEffect="clip" hideEffect="clip" modal="true"
			height="50" width="350" resizable="false"
			widgetVar="deleteBelongingDialogVar">
			<f:facet name="header">
				<h:outputText value="#{app.confirm_deletion}" />
			</f:facet>

			<h:commandLink value="#{app.ok}"
				action="#{fileBean.removeBelonging()}"
				styleClass="btn btn-primary popup-buttons"
				onclick="PF('deleteBelongingDialogVar').hide()">
				<p:ajax oncomplete="PF('belongingDataTableVar').filter()" />
			</h:commandLink>
			<h:commandLink styleClass="btn btn-danger popup-buttons"
				onclick="PF('deleteBelongingDialogVar').hide()">
				<h:outputText value="#{app.cancel}" />
				<f:ajax />
			</h:commandLink>
		</p:dialog>

	</div>
</div>



</html>