<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">


<div class="row">
	<div class="col-md-12">

		<p:dataTable id="educationalPeopleDataTable" rows="50"
			paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15,20,50,100,200"
			widgetVar="educationalPeopleDataTableVar"
			paginatorAlwaysVisible="false" paginatorPosition="bottom"
			value="#{fileBean.file.educationalPeoples}" var="item"
			rowKey="#{item.id}" rowIndexVar="index"
			emptyMessage="#{app.empty_table}">

			<f:facet name="header">
				<h:outputText value="#{app.educationalPeople}"
					styleClass="headerText" />

				<h:commandLink action="#{fileBean.openAddEducationalPeopleDialog()}"
					styleClass="btn btn-primary white headerButton">
					<f:ajax />
					<i class="fa fa-plus white" />
				</h:commandLink>
			</f:facet>

			<p:column id="index" width="50">
				<h:outputText value="#{index+1}"></h:outputText>
			</p:column>

			<p:column id="delete" width="50">
				<h:commandLink styleClass="btn btn-sm btn-danger white"
					action="#{fileBean.selectEducationalPeopleForDelete(item)}"
					onclick="PF('deleteEducationalPeopleDialogVar').show()">
					<i class="fa fa-trash white" />
					<f:ajax />
				</h:commandLink>
			</p:column>

			<p:column id="edit" width="50">
				<h:commandLink styleClass="btn btn-sm btn-success white"
					action="#{fileBean.openEditEducationalPeopleDialog(item)}">
					<i class="fa fa-pencil white" />
					<p:ajax update="editEducationalPeopleDialog"
						oncomplete="PF('editEducationalPeopleDialogVar').show()" />
				</h:commandLink>
			</p:column>

			<p:column id="EducationalPeoplename"
				headerText="#{app.EducationalPeoplename}" filterBy="#{item.name}"
				filterMatchMode="contains" sortBy="#{item.name}">
				<h:outputText value="#{item.name}" title="#{item.name}" />
			</p:column>

			<p:column id="EducationalPeopledateOfBirth"
				headerText="#{app.EducationalPeopledateOfBirth}"
				filterBy="#{item.dateOfBirth}" filterMatchMode="contains"
				sortBy="#{item.dateOfBirth}">
				<h:outputText value="#{item.dateOfBirth}"
					title="#{item.dateOfBirth}">
					<f:convertDateTime pattern="dd-MM-yyyy" />
				</h:outputText>
			</p:column>

			<p:column id="EducationalPeopleschool"
				headerText="#{app.EducationalPeopleschool}"
				filterBy="#{item.school}" filterMatchMode="contains"
				sortBy="#{item.school}">
				<h:outputText value="#{item.school}" title="#{item.school}" />
			</p:column>

			<p:column id="EducationalPeopleclassName"
				headerText="#{app.EducationalPeopleclassName}"
				filterBy="#{item.className}" filterMatchMode="contains"
				sortBy="#{item.className}">
				<h:outputText value="#{item.className}" title="#{item.className}" />
			</p:column>

			<p:column id="EducationalPeopleschoolType"
				headerText="#{app.EducationalPeopleschoolType}"
				filterBy="#{fileBean.getText(item.schoolType)}"
				filterMatchMode="contains"
				sortBy="#{fileBean.getText(item.schoolType)}">
				<h:outputText value="#{fileBean.getText(item.schoolType)}"
					title="#{fileBean.getText(item.schoolType)}" />
			</p:column>

			<p:column id="EducationalPeopleannualPayment"
				headerText="#{app.EducationalPeopleannualPayment}"
				filterBy="#{item.annualPayment}" filterMatchMode="contains"
				sortBy="#{item.annualPayment}">
				<h:outputText value="#{item.annualPayment}"
					title="#{item.annualPayment}" />
			</p:column>

			<p:column id="EducationalPeoplepartyHelpingName"
				headerText="#{app.EducationalPeoplepartyHelpingName}"
				filterBy="#{item.partyHelpingName}" filterMatchMode="contains"
				sortBy="#{item.partyHelpingName}">
				<h:outputText value="#{item.partyHelpingName}"
					title="#{item.partyHelpingName}" />
			</p:column>

			<p:column id="EducationalPeoplepartyHelpingContribution"
				headerText="#{app.EducationalPeoplepartyHelpingContribution}"
				filterBy="#{item.partyHelpingContribution}"
				filterMatchMode="contains" sortBy="#{item.partyHelpingContribution}">
				<h:outputText value="#{item.partyHelpingContribution}"
					title="#{item.partyHelpingContribution}" />
			</p:column>

		</p:dataTable>

		<p:dialog id="editEducationalPeopleDialog" showHeader="false"
			widgetVar="editEducationalPeopleDialogVar" closable="true"
			showEffect="clip" hideEffect="clip" draggable="false"
			maximizable="false" modal="true" width="800" height="350"
			resizable="false" styleClass="addDialog" onShow="updateComponents()">

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.EducationalPeoplename}" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{fileBean.editEducationalPeople.name}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.EducationalPeopledateOfBirth}" />
							</div>
							<div class="col-md-8">
								<p:calendar
									value="#{fileBean.editEducationalPeople.dateOfBirth}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.EducationalPeopleschool}" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{fileBean.editEducationalPeople.school}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.EducationalPeopleclassName}" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{fileBean.editEducationalPeople.className}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.EducationalPeopleschoolType}" />
							</div>
							<div class="col-md-8">
								<p:selectOneMenu
									value="#{fileBean.editEducationalPeople.schoolType}">
									<f:selectItem />
									<f:selectItem itemLabel="#{app.Private}" itemValue="Private" />
									<f:selectItem itemLabel="#{app.Formal}" itemValue="Formal" />
									<f:selectItem itemLabel="#{app.Internal}" itemValue="Internal" />
									<f:selectItem itemLabel="#{app.External}" itemValue="External" />
								</p:selectOneMenu>
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.EducationalPeopleannualPayment}" />
							</div>
							<div class="col-md-8">
								<p:inputNumber inputStyleClass="form-control"
									value="#{fileBean.editEducationalPeople.annualPayment}"
									styleClass="money" symbol="$" symbolPosition="s"
									decimalSeparator="." thousandSeparator="," minValue="0" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.EducationalPeoplepartyHelpingName}" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{fileBean.editEducationalPeople.partyHelpingName}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.EducationalPeoplepartyHelpingContribution}" />
							</div>
							<div class="col-md-8">
								<p:inputNumber inputStyleClass="form-control"
									value="#{fileBean.editEducationalPeople.partyHelpingContribution}"
									styleClass="money" symbol="$" symbolPosition="s"
									decimalSeparator="." thousandSeparator="," minValue="0" />
							</div>
						</div>

					</div>
				</div>

			</div>

			<f:facet name="footer">

				<h:commandLink rendered="#{fileBean.editEducationBoolean}"
					value="#{app.ok}" styleClass="btn btn-primary popup-buttons"
					onclick="PF('editEducationalPeopleDialogVar').hide()">
					<p:ajax process="editEducationalPeopleDialog"
						oncomplete="PF('educationalPeopleDataTableVar').filter()" />
				</h:commandLink>
				<h:commandLink rendered="#{!fileBean.editEducationBoolean}"
					value="#{app.ok}" styleClass="btn btn-primary popup-buttons"
					onclick="PF('editEducationalPeopleDialogVar').hide()"
					action="#{fileBean.editEducationalPeople()}">
					<p:ajax process="editEducationalPeopleDialog"
						oncomplete="PF('educationalPeopleDataTableVar').filter()" />
				</h:commandLink>

				<h:commandLink styleClass="btn btn-danger popup-buttons"
					onclick="PF('editEducationalPeopleDialogVar').hide()">
					<h:outputText value="#{app.cancel}" />
					<f:ajax />
				</h:commandLink>
			</f:facet>

		</p:dialog>

		<p:dialog id="deleteEducationalPeopleDialog" draggable="false"
			closable="false" showEffect="clip" hideEffect="clip" modal="true"
			height="50" width="350" resizable="false"
			widgetVar="deleteEducationalPeopleDialogVar">
			<f:facet name="header">
				<h:outputText value="#{app.confirm_deletion}" />
			</f:facet>

			<h:commandLink value="#{app.ok}"
				action="#{fileBean.removeEducationalPeople()}"
				styleClass="btn btn-primary popup-buttons"
				onclick="PF('deleteEducationalPeopleDialogVar').hide()">
				<p:ajax oncomplete="PF('educationalPeopleDataTableVar').filter()" />
			</h:commandLink>
			<h:commandLink styleClass="btn btn-danger popup-buttons"
				onclick="PF('deleteEducationalPeopleDialogVar').hide()">
				<h:outputText value="#{app.cancel}" />
				<f:ajax />
			</h:commandLink>
		</p:dialog>

	</div>
</div>



</html>