<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">


<div class="row">
	<div class="col-md-12">

		<p:dataTable id="otherFamilyPeoplesDataTable" rows="50"
			paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15,20,50,100,200"
			widgetVar="otherFamilyPeoplesDataTableVar"
			paginatorAlwaysVisible="false" paginatorPosition="bottom"
			value="#{fileBean.file.otherFamilyPeoples}" var="item"
			rowKey="#{item.id}" rowIndexVar="index"
			emptyMessage="#{app.empty_table}">

			<f:facet name="header">
				<h:outputText value="#{app.OtherFamilyPeoples}"
					styleClass="headerText" />

				<h:commandLink action="#{fileBean.openAddOtherFamilyPeopleDialog()}"
					styleClass="btn btn-primary white headerButton">
					<f:ajax />
					<i class="fa fa-plus white" />
				</h:commandLink>
			</f:facet>

			<p:column id="index" width="50">
				<h:outputText value="#{index+1}"></h:outputText>
			</p:column>

			<p:column id="delete" width="50">
				<h:commandLink styleClass="btn btn-sm btn-danger white"
					action="#{fileBean.selectOtherFamilyPeopleForDelete(item)}"
					onclick="PF('deleteOtherFamilyPeopleDialogVar').show()">
					<i class="fa fa-trash white" />
					<f:ajax />
				</h:commandLink>
			</p:column>

			<p:column id="edit" width="50">
				<h:commandLink styleClass="btn btn-sm btn-success white"
					action="#{fileBean.openEditOtherFamilyPeopleDialog(item)}">
					<i class="fa fa-pencil white" />
					<p:ajax update="editOtherFamilyPeopleDialog"
						oncomplete="PF('editOtherFamilyPeopleDialogVar').show()" />
				</h:commandLink>
			</p:column>

			<p:column id="OtherFamilyPeopleName"
				headerText="#{app.FamilyPeoplename}" filterBy="#{item.name}"
				filterMatchMode="contains" sortBy="#{item.name}">
				<h:outputText value="#{item.name}" title="#{item.name}" />
			</p:column>

			<p:column id="OtherFamilyPeopleDOB"
				headerText="#{app.FamilyPeopledateOfBirth}"
				filterBy="#{item.dateOfBirth}" filterMatchMode="contains"
				sortBy="#{item.dateOfBirth}">
				<h:outputText value="#{item.dateOfBirth}"
					title="#{item.dateOfBirth}">
					<f:convertDateTime pattern="dd-MM-yyyy" />
				</h:outputText>
			</p:column>

			<p:column id="OtherFamilyPeoplerelationType"
				headerText="#{app.FamilyPeoplerelationType}"
				filterBy="#{item.relationType}" filterMatchMode="contains"
				sortBy="#{item.relationType}">
				<h:outputText value="#{item.relationType}"
					title="#{item.relationType}" />
			</p:column>

			<p:column id="OtherFamilyPeoplecurrentlyWorking"
				headerText="#{app.FamilyPeoplecurrentlyWorking}"
				sortBy="#{item.currentlyWorking}">
				<h:outputText value="#{item.currentlyWorking ? app.yes : app.no}" />
			</p:column>

			<p:column id="OtherFamilyPeoplecurrentlyStuding"
				headerText="#{app.FamilyPeoplecurrentlyStuding}"
				sortBy="#{item.currentlyStuding}">
				<h:outputText value="#{item.currentlyStuding ? app.yes : app.no}" />
			</p:column>

			<p:column id="OtherFamilyPeoplecurrentlySick"
				headerText="#{app.FamilyPeoplecurrentlySick}"
				sortBy="#{item.currentlySick}">
				<h:outputText value="#{item.currentlySick ? app.yes : app.no}" />
			</p:column>

			<p:column id="OtherFamilyPeoplehelpsInExpenses"
				headerText="#{app.FamilyPeoplehelpsInExpenses}"
				sortBy="#{item.helpsInExpenses}">
				<h:outputText value="#{item.helpsInExpenses ? app.yes : app.no}" />
			</p:column>

			<p:column id="OtherFamilyPeoplenotes"
				headerText="#{app.FamilyPeoplenotes}" filterBy="#{item.notes}"
				filterMatchMode="contains" sortBy="#{item.notes}">
				<h:outputText value="#{item.notes}" title="#{item.notes}" />
			</p:column>


		</p:dataTable>

		<p:dialog id="editOtherFamilyPeopleDialog" showHeader="false"
			widgetVar="editOtherFamilyPeopleDialogVar" closable="true"
			showEffect="clip" hideEffect="clip" draggable="false"
			maximizable="false" modal="true" width="800" height="350"
			resizable="false" styleClass="addDialog" onShow="updateComponents()">

			<div class="row">
				<div class="col-md-12">

					<div class="form-group">
						<div class="col-md-4">
							<h:outputLabel styleClass="control-label"
								value="#{app.FamilyPeoplename}" />
						</div>
						<div class="col-md-8">
							<h:inputText styleClass="form-control"
								value="#{fileBean.editOtherFamilyPeople.name}" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-4">
							<h:outputLabel styleClass="control-label"
								value="#{app.FamilyPeopledateOfBirth}" />
						</div>
						<div class="col-md-8">
							<p:calendar value="#{fileBean.editOtherFamilyPeople.dateOfBirth}" />
						</div>
						<div class="col-md-4">
							<h:outputLabel styleClass="control-label"
								value="#{app.FamilyPeoplerelationType}" />
						</div>
						<div class="col-md-8">
							<h:inputText styleClass="form-control"
								value="#{fileBean.editOtherFamilyPeople.relationType}" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-4">
							<h:outputLabel styleClass="control-label"
								value="#{app.FamilyPeoplecurrentlyWorking}" />
						</div>
						<div class="col-md-2">
							<p:selectBooleanCheckbox
								value="#{fileBean.editOtherFamilyPeople.currentlyWorking}" />
						</div>
						<div class="col-md-4">
							<h:outputLabel styleClass="control-label"
								value="#{app.FamilyPeoplecurrentlyStuding}" />
						</div>
						<div class="col-md-2">
							<p:selectBooleanCheckbox
								value="#{fileBean.editOtherFamilyPeople.currentlyStuding}" />
						</div>
						<div class="col-md-4">
							<h:outputLabel styleClass="control-label"
								value="#{app.FamilyPeoplecurrentlySick}" />
						</div>
						<div class="col-md-2">
							<p:selectBooleanCheckbox
								value="#{fileBean.editOtherFamilyPeople.currentlySick}" />
						</div>
						<div class="col-md-4">
							<h:outputLabel styleClass="control-label"
								value="#{app.FamilyPeoplehelpsInExpenses}" />
						</div>
						<div class="col-md-2">
							<p:selectBooleanCheckbox
								value="#{fileBean.editOtherFamilyPeople.helpsInExpenses}" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-4">
							<h:outputLabel styleClass="control-label"
								value="#{app.FamilyPeoplenotes}" />
						</div>
						<div class="col-md-8">
							<h:inputText styleClass="form-control"
								value="#{fileBean.editOtherFamilyPeople.notes}" />
						</div>
					</div>

				</div>

			</div>

			<f:facet name="footer">

				<h:commandLink rendered="#{fileBean.editOtherFamilyBoolean}"
					value="#{app.ok}" styleClass="btn btn-primary popup-buttons"
					onclick="PF('editOtherFamilyPeopleDialogVar').hide()">
					<p:ajax process="editOtherFamilyPeopleDialog"
						oncomplete="PF('otherFamilyPeoplesDataTableVar').filter()" />
				</h:commandLink>
				<h:commandLink rendered="#{!fileBean.editOtherFamilyBoolean}"
					value="#{app.ok}" styleClass="btn btn-primary popup-buttons"
					onclick="PF('editOtherFamilyPeopleDialogVar').hide()"
					action="#{fileBean.editOtherFamilyPeople()}">
					<p:ajax process="editOtherFamilyPeopleDialog"
						oncomplete="PF('otherFamilyPeoplesDataTableVar').filter()" />
				</h:commandLink>

				<h:commandLink styleClass="btn btn-danger popup-buttons"
					onclick="PF('editOtherFamilyPeopleDialogVar').hide()">
					<h:outputText value="#{app.cancel}" />
					<f:ajax />
				</h:commandLink>
			</f:facet>

		</p:dialog>

		<p:dialog id="deleteOtherFamilyPeopleDialog" draggable="false"
			closable="false" showEffect="clip" hideEffect="clip" modal="true"
			height="50" width="350" resizable="false"
			widgetVar="deleteOtherFamilyPeopleDialogVar">
			<f:facet name="header">
				<h:outputText value="#{app.confirm_deletion}" />
			</f:facet>

			<h:commandLink value="#{app.ok}"
				action="#{fileBean.removeOtherFamilyPeople()}"
				styleClass="btn btn-primary popup-buttons"
				onclick="PF('deleteOtherFamilyPeopleDialogVar').hide()">
				<p:ajax oncomplete="PF('otherFamilyPeoplesDataTableVar').filter()" />
			</h:commandLink>
			<h:commandLink styleClass="btn btn-danger popup-buttons"
				onclick="PF('deleteOtherFamilyPeopleDialogVar').hide()">
				<h:outputText value="#{app.cancel}" />
				<f:ajax />
			</h:commandLink>
		</p:dialog>

	</div>
</div>



</html>