<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<!-- Husband Personal Information -->

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="husbandFirstName"
				value="#{app.husbandFirstName}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="husbandFirstName" styleClass="form-control"
				value="#{fileBean.file.husbandFirstName}" />
			<h:message for="husbandFirstName" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="husbandFatherName"
				value="#{app.husbandFatherName}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="husbandFatherName" styleClass="form-control"
				value="#{fileBean.file.husbandFatherName}" />
			<h:message for="husbandFatherName" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="husbandFamilyName"
				value="#{app.husbandFamilyName}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="husbandFamilyName" styleClass="form-control"
				value="#{fileBean.file.husbandFamilyName}" />
			<h:message for="husbandFamilyName" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="husbandBirthPlace"
				value="#{app.husbandBirthPlace}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="husbandBirthPlace" styleClass="form-control"
				value="#{fileBean.file.husbandBirthPlace}" />
			<h:message for="husbandBirthPlace" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="husbandBirthdate"
				value="#{app.husbandBirthdate}:" />
		</div>
		<div class="col-md-9">
			<p:calendar id="husbandBirthdate"
				value="#{fileBean.file.husbandBirthdate}" pattern="dd-MM-yyyy" />
			<h:message for="husbandBirthdate" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="husbandRecordNumber"
				value="#{app.husbandRecordNumber}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="husbandRecordNumber" styleClass="form-control"
				value="#{fileBean.file.husbandRecordNumber}" />
			<h:message for="husbandRecordNumber" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="husbandMotherFullName"
				value="#{app.husbandMotherFullName}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="husbandMotherFullName" styleClass="form-control"
				value="#{fileBean.file.husbandMotherFullName}" />
			<h:message for="husbandMotherFullName" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="husbandGovernorate"
				value="#{app.husbandGovernorate}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="husbandGovernorate" styleClass="form-control"
				value="#{fileBean.file.husbandGovernorate}" />
			<h:message for="husbandGovernorate" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="husbandProvince"
				value="#{app.husbandProvince}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="husbandProvince" styleClass="form-control"
				value="#{fileBean.file.husbandProvince}" />
			<h:message for="husbandProvince" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="husbandTown"
				value="#{app.husbandTown}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="husbandTown" styleClass="form-control"
				value="#{fileBean.file.husbandTown}" />
			<h:message for="husbandTown" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="husbandNationality"
				value="#{app.husbandNationality}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="husbandNationality" styleClass="form-control"
				value="#{fileBean.file.husbandNationality}" />
			<h:message for="husbandNationality" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="husbandSadaAmma"
				value="#{app.husbandSadaAmma}:" />
		</div>
		<div class="col-md-9">
			<p:selectOneMenu id="husbandSadaAmma"
				value="#{fileBean.file.husbandSadaAmma}">
				<f:selectItem />
				<f:selectItem itemLabel="#{app.Sada}" itemValue="Sada" />
				<f:selectItem itemLabel="#{app.Amma}" itemValue="Amma" />
			</p:selectOneMenu>
			<h:message for="husbandSadaAmma" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="husbandSocialStatus"
				value="#{app.husbandSocialStatus}:" />
		</div>
		<div class="col-md-9">
			<p:selectOneMenu id="husbandSocialStatus"
				value="#{fileBean.file.husbandSocialStatus}">
				<f:selectItem />
				<f:selectItem itemLabel="#{app.Married}" itemValue="Married" />
				<f:selectItem itemLabel="#{app.Single}" itemValue="Single" />
				<f:selectItem itemLabel="#{app.Divorced}" itemValue="Divorced" />
				<f:selectItem itemLabel="#{app.Widowed}" itemValue="Widowed" />
			</p:selectOneMenu>
			<h:message for="husbandSocialStatus" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="husbandNumberOfWife"
				value="#{app.husbandNumberOfWife}:" />
		</div>
		<div class="col-md-9">
			<p:inputNumber id="husbandNumberOfWife"
				inputStyleClass="form-control"
				value="#{fileBean.file.husbandNumberOfWife}" emptyValue="0"
				minValue="0" decimalPlaces="0" />
			<h:message for="husbandNumberOfWife" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label"
				for="husbandEducationalLevel"
				value="#{app.husbandEducationalLevel}:" />
		</div>
		<div class="col-md-9">
			<p:selectOneMenu id="husbandEducationalLevel"
				value="#{fileBean.file.husbandEducationalLevel}">
				<f:selectItem />
				<f:selectItem itemLabel="#{app.Illiterate}" itemValue="Illiterate" />
				<f:selectItem itemLabel="#{app.FirstElementary}"
					itemValue="FirstElementary" />
				<f:selectItem itemLabel="#{app.SecondElementary}"
					itemValue="SecondElementary" />
				<f:selectItem itemLabel="#{app.HighSchool}" itemValue="HighSchool" />
				<f:selectItem itemLabel="#{app.Graduate}" itemValue="Graduate" />
				<f:selectItem itemLabel="#{app.Vocational}" itemValue="Vocational" />
				<f:selectItem itemLabel="#{app.PHD}" itemValue="PHD" />
			</p:selectOneMenu>
			<h:message for="husbandEducationalLevel" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label"
				for="husbandEducationalCertificate"
				value="#{app.husbandEducationalCertificate}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="husbandEducationalCertificate"
				styleClass="form-control"
				value="#{fileBean.file.husbandEducationalCertificate}" />
			<h:message for="husbandEducationalCertificate" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="husbandHealthStatus"
				value="#{app.husbandHealthStatus}:" />
		</div>
		<div class="col-md-9">
			<p:selectOneMenu id="husbandHealthStatus"
				value="#{fileBean.file.husbandHealthStatus}">
				<f:selectItem />
				<f:selectItem itemLabel="#{app.Alive}" itemValue="Alive" />
				<f:selectItem itemLabel="#{app.Sick}" itemValue="Sick" />
				<f:selectItem itemLabel="#{app.Dead}" itemValue="Dead" />

				<p:ajax update="husbandDeath-group" oncomplete="initCalendar()" />
			</p:selectOneMenu>
			<h:message for="husbandHealthStatus" styleClass="error" />
		</div>
	</div>
</div>

<h:panelGroup id="husbandDeath-group">
	<h:panelGroup rendered="#{fileBean.file.husbandHealthStatus == 'Dead'}">
		<div class="form-group">
			<div class="col-md-12">
				<div class="col-md-3">
					<h:outputLabel styleClass="control-label" for="husbandDeathDate"
						value="#{app.husbandDeathDate}:" />
				</div>
				<div class="col-md-9">
					<p:calendar id="husbandDeathDate"
						value="#{fileBean.file.husbandDeathDate}" pattern="dd-MM-yyyy" />
					<h:message for="husbandDeathDate" styleClass="error" />
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12">
				<div class="col-md-3">
					<h:outputLabel styleClass="control-label" for="husbandDeathReason"
						value="#{app.husbandDeathReason}:" />
				</div>
				<div class="col-md-9">
					<h:inputText id="husbandDeathReason" styleClass="form-control"
						value="#{fileBean.file.husbandDeathReason}" />
					<h:message for="husbandDeathReason" styleClass="error" />
				</div>
			</div>
		</div>
	</h:panelGroup>
</h:panelGroup>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="husbandFamilyStatus"
				value="#{app.husbandFamilyStatus}:" />
		</div>
		<div class="col-md-9">
			<p:selectOneMenu id="husbandFamilyStatus"
				value="#{fileBean.file.husbandFamilyStatus}">
				<f:selectItem />
				<f:selectItem itemLabel="#{app.WithTheFamily}"
					itemValue="WithTheFamily" />
				<f:selectItem itemLabel="#{app.WithoutTheFamily}"
					itemValue="WithoutTheFamily" />
			</p:selectOneMenu>
			<h:message for="husbandFamilyStatus" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="husbandNotes"
				value="#{app.husbandNotes}:" />
		</div>
		<div class="col-md-9">
			<p:inputTextarea id="husbandNotes" styleClass="form-control"
				value="#{fileBean.file.husbandNotes}" />
			<h:message for="husbandNotes" styleClass="error" />
		</div>
	</div>
</div>

</html>