<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<!-- Husband Job Information -->


<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="husbandInsuranceType"
				value="#{app.husbandInsuranceType}:" />
		</div>
		<div class="col-md-9">
			<p:selectOneMenu id="husbandInsuranceType"
				value="#{fileBean.file.husbandInsuranceType}">
				<f:selectItem />
				<f:selectItem itemLabel="#{app.Daman}" itemValue="Daman" />
				<f:selectItem itemLabel="#{app.TaawniyyatMowazzafin}"
					itemValue="TaawniyyatMowazzafin" />
				<f:selectItem itemLabel="#{app.MoaassasatDawla}"
					itemValue="MoaassasatDawla" />
				<f:selectItem itemLabel="#{app.InsuranceCompany}"
					itemValue="InsuranceCompany" />
				<f:selectItem itemLabel="#{app.Other}" itemValue="Other" />
			</p:selectOneMenu>
			<h:message for="husbandInsuranceType" styleClass="error" />
		</div>
	</div>
</div>


<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="husbandIndemnity"
				value="#{app.husbandIndemnity}:" />
		</div>
		<div class="col-md-9">
			<p:selectBooleanCheckbox id="husbandIndemnity"
				value="#{fileBean.file.husbandIndemnity}">
				<p:ajax update="husbandIndemnity-group"
					oncomplete="initCalendar();initSelectOneMenu();" />
			</p:selectBooleanCheckbox>
			<h:message for="husbandIndemnity" styleClass="error" />
		</div>
	</div>
</div>

<h:panelGroup id="husbandIndemnity-group">
	<h:panelGroup rendered="#{fileBean.file.husbandIndemnity}">
		<div class="form-group">
			<div class="col-md-12">
				<div class="col-md-3">
					<h:outputLabel styleClass="control-label"
						for="husbandIndemnityPrice" value="#{app.husbandIndemnityPrice}:" />
				</div>
				<div class="col-md-9">
					<p:inputNumber id="husbandIndemnityPrice"
						inputStyleClass="form-control"
						value="#{fileBean.file.husbandIndemnityPrice}" styleClass="money"
						symbol="$" symbolPosition="s" decimalSeparator="."
						thousandSeparator="," minValue="0" />
					<h:message for="husbandIndemnityPrice" styleClass="error" />
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12">
				<div class="col-md-3">
					<h:outputLabel styleClass="control-label"
						for="husbandIndemnityDate" value="#{app.husbandIndemnityDate}:" />
				</div>
				<div class="col-md-9">
					<p:calendar id="husbandIndemnityDate"
						value="#{fileBean.file.husbandIndemnityDate}" pattern="dd-MM-yyyy" />
					<h:message for="husbandIndemnityDate" styleClass="error" />
				</div>
			</div>
		</div>
	</h:panelGroup>
</h:panelGroup>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="husbandRetirement"
				value="#{app.husbandRetirement}:" />
		</div>
		<div class="col-md-9">
			<p:selectBooleanCheckbox id="husbandRetirement"
				value="#{fileBean.file.husbandRetirement}">
				<p:ajax update="husbandRetirement-group"
					oncomplete="initCalendar();initSelectOneMenu();" />
			</p:selectBooleanCheckbox>
			<h:message for="husbandRetirement" styleClass="error" />
		</div>
	</div>
</div>


<h:panelGroup id="husbandRetirement-group">
	<h:panelGroup rendered="#{fileBean.file.husbandRetirement}">
		<div class="form-group">
			<div class="col-md-12">
				<div class="col-md-3">
					<h:outputLabel styleClass="control-label"
						for="husbandRetirementSalary"
						value="#{app.husbandRetirementSalary}:" />
				</div>
				<div class="col-md-9">
					<p:inputNumber id="husbandRetirementSalary"
						inputStyleClass="form-control"
						value="#{fileBean.file.husbandRetirementSalary}"
						styleClass="money" symbol="$" symbolPosition="s"
						decimalSeparator="." thousandSeparator="," minValue="0" />
					<h:message for="husbandRetirementSalary" styleClass="error" />
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12">
				<div class="col-md-3">
					<h:outputLabel styleClass="control-label"
						for="husbandRetirementNotes"
						value="#{app.husbandRetirementNotes}:" />
				</div>
				<div class="col-md-9">
					<p:inputTextarea id="husbandRetirementNotes"
						styleClass="form-control"
						value="#{fileBean.file.husbandRetirementNotes}" />
					<h:message for="husbandRetirementNotes" styleClass="error" />
				</div>
			</div>
		</div>
	</h:panelGroup>
</h:panelGroup>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label"
				for="husbandInspectingNotes" value="#{app.husbandInspectingNotes}:" />
		</div>
		<div class="col-md-9">
			<p:inputTextarea id="husbandInspectingNotes"
				styleClass="form-control"
				value="#{fileBean.file.husbandInspectingNotes}" />
			<h:message for="husbandInspectingNotes" styleClass="error" />
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-12 margin-top-two">

		<p:dataTable id="husbandWorksDataTable" rows="50" paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15,20,50,100,200"
			widgetVar="husbandWorksDataTableVar" paginatorAlwaysVisible="false"
			paginatorPosition="bottom" value="#{fileBean.file.husbandWorks}"
			var="item" rowKey="#{item.id}" rowIndexVar="index"
			emptyMessage="#{app.empty_table}"
			rowStyleClass="#{item.currentWork ? 'bg-info':''}">

			<f:facet name="header">
				<h:outputText value="#{app.husbandWorksTable}"
					styleClass="headerText" />

				<h:commandLink action="#{fileBean.openAddHusbandWorkDialog()}"
					styleClass="btn btn-primary white headerButton">
					<f:ajax />
					<i class="fa fa-plus white" />
				</h:commandLink>
			</f:facet>

			<p:column id="index" width="50">
				<h:outputText value="#{index+1}"></h:outputText>
			</p:column>

			<p:column id="delete" width="50">
				<h:commandLink styleClass="btn btn-sm btn-danger white"
					action="#{fileBean.selectHusbandWorkForDelete(item)}"
					onclick="PF('deleteHusbandWorkDialogVar').show()">
					<i class="fa fa-trash white" />
					<f:ajax />
				</h:commandLink>
			</p:column>

			<p:column id="edit" width="50">
				<h:commandLink styleClass="btn btn-sm btn-success white"
					action="#{fileBean.openEditHusbandWorkDialog(item)}">
					<i class="fa fa-pencil white" />
					<p:ajax update="editHusbandWorkDialog"
						oncomplete="PF('editHusbandWorkDialogVar').show()" />
				</h:commandLink>
			</p:column>

			<p:column id="HusbandWorktype" headerText="#{app.HusbandWorktype}"
				filterBy="#{item.type}" filterMatchMode="contains"
				sortBy="#{item.type}">
				<h:outputText value="#{item.type}" title="#{item.type}" />
			</p:column>

			<p:column id="HusbandWorkaddress"
				headerText="#{app.HusbandWorkaddress}" filterBy="#{item.address}"
				filterMatchMode="contains" sortBy="#{item.address}">
				<h:outputText value="#{item.address}" title="#{item.address}" />
			</p:column>

			<p:column id="HusbandWorkphoneNumber"
				headerText="#{app.HusbandWorkphoneNumber}"
				filterBy="#{item.phoneNumber}" filterMatchMode="contains"
				sortBy="#{item.phoneNumber}">
				<h:outputText value="#{item.phoneNumber}"
					title="#{item.phoneNumber}" />
			</p:column>

			<p:column id="HusbandWorksalary"
				headerText="#{app.HusbandWorksalary}" filterBy="#{item.salary}"
				filterMatchMode="contains" sortBy="#{item.salary}">
				<h:outputText value="#{item.salary}" title="#{item.salary}" />
			</p:column>

			<p:column id="HusbandWorkStartDate"
				headerText="#{app.HusbandWorkstartDate}"
				filterBy="#{item.startDate}" filterMatchMode="contains"
				sortBy="#{item.startDate}">
				<h:outputText value="#{item.startDate}" title="#{item.startDate}">
					<f:convertDateTime pattern="dd-MM-yyyy" />
				</h:outputText>
			</p:column>

			<p:column id="HusbandWorkEndDate"
				headerText="#{app.HusbandWorkendDate}" filterBy="#{item.endDate}"
				filterMatchMode="contains" sortBy="#{item.endDate}">
				<h:outputText value="#{item.endDate}" title="#{item.endDate}">
					<f:convertDateTime pattern="dd-MM-yyyy" />
				</h:outputText>
			</p:column>

			<p:column id="HusbandWorkreasonToLeave"
				headerText="#{app.HusbandWorkreasonToLeave}"
				filterBy="#{item.reasonToLeave}" filterMatchMode="contains"
				sortBy="#{item.reasonToLeave}">
				<h:outputText value="#{item.reasonToLeave}"
					title="#{item.reasonToLeave}" />
			</p:column>

		</p:dataTable>

		<p:dialog id="editHusbandWorkDialog" showHeader="false"
			widgetVar="editHusbandWorkDialogVar" closable="true"
			showEffect="clip" hideEffect="clip" draggable="false"
			maximizable="false" modal="true" width="800" height="350"
			resizable="false" styleClass="addDialog" onShow="updateComponents()">

			<div class="row">
				<div class="col-md-12">

					<div class="form-group">
						<div class="col-md-4">
							<h:outputLabel styleClass="control-label"
								value="#{app.HusbandWorktype}" />
						</div>
						<div class="col-md-8">
							<h:inputText styleClass="form-control"
								value="#{fileBean.editHusbandWork.type}" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-4">
							<h:outputLabel styleClass="control-label"
								value="#{app.HusbandWorkaddress}" />
						</div>
						<div class="col-md-8">
							<h:inputText styleClass="form-control"
								value="#{fileBean.editHusbandWork.address}" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-4">
							<h:outputLabel styleClass="control-label"
								value="#{app.HusbandWorkphoneNumber}" />
						</div>
						<div class="col-md-8">
							<h:inputText styleClass="form-control"
								value="#{fileBean.editHusbandWork.phoneNumber}" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-4">
							<h:outputLabel styleClass="control-label"
								value="#{app.HusbandWorksalary}" />
						</div>
						<div class="col-md-8">
							<p:inputNumber inputStyleClass="form-control"
								value="#{fileBean.editHusbandWork.salary}" styleClass="money"
								symbol="$" symbolPosition="s" decimalSeparator="."
								thousandSeparator="," minValue="0" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-4">
							<h:outputLabel styleClass="control-label"
								value="#{app.HusbandWorkstartDate}" />
						</div>
						<div class="col-md-8">
							<p:calendar value="#{fileBean.editHusbandWork.startDate}" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-4">
							<h:outputLabel styleClass="control-label"
								value="#{app.HusbandWorkendDate}" />
						</div>
						<div class="col-md-8">
							<p:calendar value="#{fileBean.editHusbandWork.endDate}" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-4">
							<h:outputLabel styleClass="control-label"
								value="#{app.HusbandWorkreasonToLeave}" />
						</div>
						<div class="col-md-8">
							<h:inputText styleClass="form-control"
								value="#{fileBean.editHusbandWork.reasonToLeave}" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-4">
							<h:outputLabel styleClass="control-label"
								value="#{app.HusbandWorkcurrentWork}" />
						</div>
						<div class="col-md-8">
							<p:selectBooleanCheckbox
								value="#{fileBean.editHusbandWork.currentWork}" />
						</div>
					</div>

				</div>

			</div>

			<f:facet name="footer">

				<h:commandLink rendered="#{fileBean.editHusbandWorkBoolean}"
					value="#{app.ok}" styleClass="btn btn-primary popup-buttons"
					onclick="PF('editHusbandWorkDialogVar').hide()">
					<p:ajax process="editHusbandWorkDialog"
						oncomplete="PF('husbandWorksDataTableVar').filter()" />
				</h:commandLink>
				<h:commandLink rendered="#{!fileBean.editHusbandWorkBoolean}"
					value="#{app.ok}" styleClass="btn btn-primary popup-buttons"
					onclick="PF('editHusbandWorkDialogVar').hide()"
					action="#{fileBean.editHusbandWork()}">
					<p:ajax process="editHusbandWorkDialog"
						oncomplete="PF('husbandWorksDataTableVar').filter()" />
				</h:commandLink>

				<h:commandLink styleClass="btn btn-danger popup-buttons"
					onclick="PF('editHusbandWorkDialogVar').hide()">
					<h:outputText value="#{app.cancel}" />
					<f:ajax />
				</h:commandLink>
			</f:facet>

		</p:dialog>

		<p:dialog id="deleteHusbandWorkDialog" draggable="false"
			closable="false" showEffect="clip" hideEffect="clip" modal="true"
			height="50" width="350" resizable="false"
			widgetVar="deleteHusbandWorkDialogVar">
			<f:facet name="header">
				<h:outputText value="#{app.confirm_deletion}" />
			</f:facet>

			<h:commandLink value="#{app.ok}"
				action="#{fileBean.removeHusbandWork()}"
				styleClass="btn btn-primary popup-buttons"
				onclick="PF('deleteHusbandWorkDialogVar').hide()">
				<p:ajax oncomplete="PF('husbandWorksDataTableVar').filter()" />
			</h:commandLink>
			<h:commandLink styleClass="btn btn-danger popup-buttons"
				onclick="PF('deleteHusbandWorkDialogVar').hide()">
				<h:outputText value="#{app.cancel}" />
				<f:ajax />
			</h:commandLink>
		</p:dialog>

	</div>
</div>
</html>