<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">



<div class="row">
	<div class="col-md-12">

		<p:dataTable id="familyIncomesDataTable" rows="7" paginator="false"
			widgetVar="familyIncomesDataTableVar"
			value="#{fileBean.file.familyIncomes}" var="item" rowKey="#{item.id}"
			rowIndexVar="index" emptyMessage="#{app.empty_table}">

			<f:facet name="header">
				<h:outputText value="#{app.familyIncomes}" styleClass="headerText" />
			</f:facet>

			<p:column id="index" width="50">
				<h:outputText value="#{index+1}"></h:outputText>
			</p:column>

			<p:column id="edit" width="50">
				<h:commandLink styleClass="btn btn-sm btn-success white"
					action="#{fileBean.openEditFamilyIncomeDialog(item)}">
					<i class="fa fa-pencil white" />
					<p:ajax update="editFamilyIncomeDialog"
						oncomplete="PF('editFamilyIncomeDialogVar').show()" />
				</h:commandLink>
			</p:column>

			<p:column id="FamilyIncomesource"
				headerText="#{app.FamilyIncomesource}" filterBy="#{item.source}"
				filterMatchMode="contains" sortBy="#{item.source}">
				<h:outputText value="#{item.source}" title="#{item.source}" />
			</p:column>

			<p:column id="FamilyIncomevalue"
				headerText="#{app.FamilyIncomevalue}" filterBy="#{item.value}"
				filterMatchMode="contains" sortBy="#{item.value}">
				<h:outputText value="#{item.value}" title="#{item.value}" />
			</p:column>

			<p:column id="FamilyIncomeduration"
				headerText="#{app.FamilyIncomeduration}" filterBy="#{item.duration}"
				filterMatchMode="contains" sortBy="#{item.duration}">
				<h:outputText value="#{item.duration}" title="#{item.duration}" />
			</p:column>

			<p:column id="FamilyIncomenotes"
				headerText="#{app.FamilyIncomenotes}" filterBy="#{item.notes}"
				filterMatchMode="contains" sortBy="#{item.notes}">
				<h:outputText value="#{item.notes}" title="#{item.notes}" />
			</p:column>

			<p:columnGroup type="footer">
				<p:row>
					<p:column />
					<p:column />
					<p:column />
					<p:column footerText="#{fileBean.incomeSum()}" />
					<p:column />
					<p:column />
				</p:row>
			</p:columnGroup>

		</p:dataTable>

		<p:dialog id="editFamilyIncomeDialog"
			widgetVar="editFamilyIncomeDialogVar" closable="true"
			showHeader="false" showEffect="clip" hideEffect="clip"
			draggable="false" maximizable="false" modal="true" width="800"
			height="350" resizable="false" styleClass="addDialog"
			onShow="updateComponents()">

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.FamilyIncomesource}" />
							</div>
							<div class="col-md-8">
								<h:inputText readonly="true" styleClass="form-control"
									value="#{fileBean.editFamilyIncome.source}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.FamilyIncomevalue}" />
							</div>
							<div class="col-md-8">
								<p:inputNumber inputStyleClass="form-control"
									value="#{fileBean.editFamilyIncome.value}" styleClass="money"
									symbol="$" symbolPosition="s" decimalSeparator="."
									thousandSeparator="," minValue="0" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.FamilyIncomeduration}" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{fileBean.editFamilyIncome.duration}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.FamilyIncomenotes}" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{fileBean.editFamilyIncome.notes}" />
							</div>
						</div>

					</div>
				</div>

			</div>

			<f:facet name="footer">

				<h:commandLink value="#{app.ok}"
					styleClass="btn btn-primary popup-buttons"
					onclick="PF('editFamilyIncomeDialogVar').hide()">
					<p:ajax process="editFamilyIncomeDialog"
						update="familyIncomesDataTable"
						oncomplete="PF('familyIncomesDataTableVar').filter()" />
				</h:commandLink>

				<h:commandLink styleClass="btn btn-danger popup-buttons"
					onclick="PF('editFamilyIncomeDialogVar').hide()">
					<h:outputText value="#{app.cancel}" />
					<f:ajax />
				</h:commandLink>
			</f:facet>

		</p:dialog>

	</div>
</div>

</html>