<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">


<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label"
				for="applicationSubmissionDate"
				value="#{app.applicationSubmissionDate}:" />
		</div>
		<div class="col-md-9">
			<p:calendar id="applicationSubmissionDate"
				value="#{fileBean.file.applicationSubmissionDate}"
				pattern="dd-MM-yyyy" />
			<h:message for="
				applicationSubmissionDate" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="familyVisitDate"
				value="#{app.familyVisitDate}:" />
		</div>
		<div class="col-md-9">
			<p:calendar id="familyVisitDate"
				value="#{fileBean.file.familyVisitDate}" pattern="dd-MM-yyyy" />
			<h:message for="familyVisitDate" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="caseType"
				value="#{app.caseType}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="caseType" styleClass="form-control"
				value="#{fileBean.file.caseType}" />
			<h:message for="caseType" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="applicationType"
				value="#{app.applicationType}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="applicationType" styleClass="form-control"
				value="#{fileBean.file.applicationType}" />
			<h:message for="applicationType" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="firstPhoneNumber"
				value="#{app.firstPhoneNumber}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="firstPhoneNumber" styleClass="form-control"
				value="#{fileBean.file.firstPhoneNumber}" />
			<h:message for="firstPhoneNumber" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="secondPhoneNumber"
				value="#{app.secondPhoneNumber}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="secondPhoneNumber" styleClass="form-control"
				value="#{fileBean.file.secondPhoneNumber}" />
			<h:message for="secondPhoneNumber" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="husbandName"
				value="#{app.husbandName}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="husbandName" styleClass="form-control"
				value="#{fileBean.file.husbandName}" />
			<h:message for="husbandName" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="wifeName"
				value="#{app.wifeName}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="wifeName" styleClass="form-control"
				value="#{fileBean.file.wifeName}" />
			<h:message for="wifeName" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="emailAddress"
				value="#{app.emailAddress}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="emailAddress" styleClass="form-control"
				value="#{fileBean.file.emailAddress}" />
			<h:message for="emailAddress" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="homeAddress"
				value="#{app.homeAddress}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="homeAddress" styleClass="form-control"
				value="#{fileBean.file.homeAddress}" />
			<h:message for="homeAddress" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="inspector"
				value="#{app.inspector}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="inspector" styleClass="form-control"
				value="#{fileBean.file.inspector}" />
			<h:message for="inspector" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="inspectingSource"
				value="#{app.inspectingSource}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="inspectingSource" styleClass="form-control"
				value="#{fileBean.file.inspectingSource}" />
			<h:message for="inspectingSource" styleClass="error" />
		</div>
	</div>
</div>

</html>