<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">


<div class="row">
	<div class="col-md-12">

		<p:dataTable id="marriedChildrenDataTable" rows="50" paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15,20,50,100,200"
			widgetVar="marriedChildrenDataTableVar"
			paginatorAlwaysVisible="false" paginatorPosition="bottom"
			value="#{fileBean.file.marriedChildrens}" var="item"
			rowKey="#{item.id}" rowIndexVar="index"
			emptyMessage="#{app.empty_table}">

			<f:facet name="header">
				<h:outputText value="#{app.marriedChildren}" styleClass="headerText" />

				<h:commandLink action="#{fileBean.openAddMarriedChildrenDialog()}"
					styleClass="btn btn-primary white headerButton">
					<f:ajax />
					<i class="fa fa-plus white" />
				</h:commandLink>
			</f:facet>

			<p:column id="index" width="50">
				<h:outputText value="#{index+1}"></h:outputText>
			</p:column>

			<p:column id="delete" width="50">
				<h:commandLink styleClass="btn btn-sm btn-danger white"
					action="#{fileBean.selectMarriedChildrenForDelete(item)}"
					onclick="PF('deleteMarriedChildrenDialogVar').show()">
					<i class="fa fa-trash white" />
					<f:ajax />
				</h:commandLink>
			</p:column>

			<p:column id="edit" width="50">
				<h:commandLink styleClass="btn btn-sm btn-success white"
					action="#{fileBean.openEditMarriedChildrenDialog(item)}">
					<i class="fa fa-pencil white" />
					<p:ajax update="editMarriedChildrenDialog"
						oncomplete="PF('editMarriedChildrenDialogVar').show()" />
				</h:commandLink>
			</p:column>

			<p:column id="MarriedChildrenname"
				headerText="#{app.MarriedChildrenname}" filterBy="#{item.name}"
				filterMatchMode="contains" sortBy="#{item.name}">
				<h:outputText value="#{item.name}" title="#{item.name}" />
			</p:column>

			<p:column id="MarriedChildrendateOfBirth"
				headerText="#{app.MarriedChildrendateOfBirth}"
				filterBy="#{item.dateOfBirth}" filterMatchMode="contains"
				sortBy="#{item.dateOfBirth}">
				<h:outputText value="#{item.dateOfBirth}"
					title="#{item.dateOfBirth}">
					<f:convertDateTime pattern="dd-MM-yyyys" />
				</h:outputText>
			</p:column>

			<p:column id="MarriedChildrenrelationType"
				headerText="#{app.MarriedChildrenrelationType}"
				filterBy="#{item.relationType}" filterMatchMode="contains"
				sortBy="#{item.relationType}">
				<h:outputText value="#{item.relationType}"
					title="#{item.relationType}" />
			</p:column>

			<p:column id="MarriedChildreneducationalLevel"
				headerText="#{app.MarriedChildreneducationalLevel}"
				filterBy="#{fileBean.getText(item.educationalLevel)}"
				filterMatchMode="contains"
				sortBy="#{fileBean.getText(item.educationalLevel)}">
				<h:outputText value="#{fileBean.getText(item.educationalLevel)}"
					title="#{fileBean.getText(item.educationalLevel)}" />
			</p:column>

			<p:column id="MarriedChildrensocialStatus"
				headerText="#{app.MarriedChildrensocialStatus}"
				filterBy="#{fileBean.getText(item.socialStatus)}"
				filterMatchMode="contains"
				sortBy="#{fileBean.getText(item.socialStatus)}">
				<h:outputText value="#{fileBean.getText(item.socialStatus)}"
					title="#{fileBean.getText(item.socialStatus)}" />
			</p:column>

			<p:column id="MarriedChildrenworkType"
				headerText="#{app.MarriedChildrenworkType}"
				filterBy="#{item.workType}" filterMatchMode="contains"
				sortBy="#{item.workType}">
				<h:outputText value="#{item.workType}" title="#{item.workType}" />
			</p:column>


			<p:column id="MarriedChildrenassistanceValue"
				headerText="#{app.MarriedChildrenassistanceValue}"
				filterBy="#{item.assistanceValue}" filterMatchMode="contains"
				sortBy="#{item.assistanceValue}">
				<h:outputText value="#{item.assistanceValue}"
					title="#{item.assistanceValue}" />
			</p:column>


		</p:dataTable>

		<p:dialog id="editMarriedChildrenDialog" showHeader="false"
			widgetVar="editMarriedChildrenDialogVar" closable="true"
			showEffect="clip" hideEffect="clip" draggable="false"
			maximizable="false" modal="true" width="800" height="350"
			resizable="false" styleClass="addDialog" onShow="updateComponents()">

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.MarriedChildrenname}" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{fileBean.editMarriedChildren.name}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.MarriedChildrendateOfBirth}" />
							</div>
							<div class="col-md-8">
								<p:calendar value="#{fileBean.editMarriedChildren.dateOfBirth}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.MarriedChildrenrelationType}" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{fileBean.editMarriedChildren.relationType}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.MarriedChildreneducationalLevel}" />
							</div>
							<div class="col-md-8">
								<p:selectOneMenu
									value="#{fileBean.editMarriedChildren.educationalLevel}">
									<f:selectItem />
									<f:selectItem itemLabel="#{app.Illiterate}"
										itemValue="Illiterate" />
									<f:selectItem itemLabel="#{app.FirstElementary}"
										itemValue="FirstElementary" />
									<f:selectItem itemLabel="#{app.SecondElementary}"
										itemValue="SecondElementary" />
									<f:selectItem itemLabel="#{app.HighSchool}"
										itemValue="HighSchool" />
									<f:selectItem itemLabel="#{app.Graduate}" itemValue="Graduate" />
									<f:selectItem itemLabel="#{app.Vocational}"
										itemValue="Vocational" />
									<f:selectItem itemLabel="#{app.PHD}" itemValue="PHD" />
								</p:selectOneMenu>
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.MarriedChildrensocialStatus}" />
							</div>
							<div class="col-md-8">
								<p:selectOneMenu
									value="#{fileBean.editMarriedChildren.socialStatus}">
									<f:selectItem />
									<f:selectItem itemLabel="#{app.Married}" itemValue="Married" />
									<f:selectItem itemLabel="#{app.Single}" itemValue="Single" />
									<f:selectItem itemLabel="#{app.Divorced}" itemValue="Divorced" />
									<f:selectItem itemLabel="#{app.Widowed}" itemValue="Widowed" />
								</p:selectOneMenu>
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.MarriedChildrenworkType}" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{fileBean.editMarriedChildren.workType}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.MarriedChildrenassistanceValue}" />
							</div>
							<div class="col-md-8">
								<p:inputNumber inputStyleClass="form-control"
									value="#{fileBean.editMarriedChildren.assistanceValue}"
									styleClass="money" symbol="$" symbolPosition="s"
									decimalSeparator="." thousandSeparator="," minValue="0" />
							</div>
						</div>
					</div>


				</div>
			</div>

			<f:facet name="footer">

				<h:commandLink rendered="#{fileBean.editMarriedBoolean}"
					value="#{app.ok}" styleClass="btn btn-primary popup-buttons"
					onclick="PF('editMarriedChildrenDialogVar').hide()">
					<p:ajax process="editMarriedChildrenDialog"
						oncomplete="PF('marriedChildrenDataTableVar').filter()" />
				</h:commandLink>
				<h:commandLink rendered="#{!fileBean.editMarriedBoolean}"
					value="#{app.ok}" styleClass="btn btn-primary popup-buttons"
					onclick="PF('editMarriedChildrenDialogVar').hide()"
					action="#{fileBean.editMarriedChildren()}">
					<p:ajax process="editMarriedChildrenDialog"
						oncomplete="PF('marriedChildrenDataTableVar').filter()" />
				</h:commandLink>

				<h:commandLink styleClass="btn btn-danger popup-buttons"
					onclick="PF('editMarriedChildrenDialogVar').hide()">
					<h:outputText value="#{app.cancel}" />
					<f:ajax />
				</h:commandLink>
			</f:facet>

		</p:dialog>

		<p:dialog id="deleteMarriedChildrenDialog" draggable="false"
			closable="false" showEffect="clip" hideEffect="clip" modal="true"
			height="50" width="350" resizable="false"
			widgetVar="deleteMarriedChildrenDialogVar">
			<f:facet name="header">
				<h:outputText value="#{app.confirm_deletion}" />
			</f:facet>

			<h:commandLink value="#{app.ok}"
				action="#{fileBean.removeMarriedChildren()}"
				styleClass="btn btn-primary popup-buttons"
				onclick="PF('deleteMarriedChildrenDialogVar').hide()">
				<p:ajax oncomplete="PF('marriedChildrenDataTableVar').filter()" />
			</h:commandLink>
			<h:commandLink styleClass="btn btn-danger popup-buttons"
				onclick="PF('deleteMarriedChildrenDialogVar').hide()">
				<h:outputText value="#{app.cancel}" />
				<f:ajax />
			</h:commandLink>
		</p:dialog>

	</div>
</div>



</html>