<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<!-- Notes -->

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="socialSectionNotes"
				value="#{app.socialSectionNotes}:" />
		</div>
		<div class="col-md-9">
			<p:inputTextarea id="socialSectionNotes" styleClass="form-control"
				value="#{fileBean.file.socialSectionNotes}" />
			<h:message for="socialSectionNotes" styleClass="error" />
		</div>
	</div>
</div>

</html>