<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">



<div class="row">
	<div class="col-md-12">

		<p:dataTable id="familyOutcomesDataTable" rows="17" paginator="false"
			widgetVar="familyOutcomesDataTableVar"
			value="#{fileBean.file.familyOutcomes}" var="item"
			rowKey="#{item.id}" rowIndexVar="index"
			emptyMessage="#{app.empty_table}">

			<f:facet name="header">
				<h:outputText value="#{app.familyOutcomes}" styleClass="headerText" />
			</f:facet>

			<p:column id="index" width="50">
				<h:outputText value="#{index+1}"></h:outputText>
			</p:column>

			<p:column id="edit" width="50">
				<h:commandLink styleClass="btn btn-sm btn-success white"
					action="#{fileBean.openEditFamilyOutcomeDialog(item)}">
					<i class="fa fa-pencil white" />
					<p:ajax update="editFamilyOutcomeDialog"
						oncomplete="PF('editFamilyOutcomeDialogVar').show()" />
				</h:commandLink>
			</p:column>

			<p:column id="FamilyOutcomesource"
				headerText="#{app.FamilyOutcomedestination}"
				filterBy="#{item.destination}" filterMatchMode="contains"
				sortBy="#{item.destination}">
				<h:outputText value="#{item.destination}"
					title="#{item.destination}" />
			</p:column>

			<p:column id="FamilyOutcomevalue"
				headerText="#{app.FamilyOutcomevalue}" filterBy="#{item.value}"
				filterMatchMode="contains" sortBy="#{item.value}">
				<h:outputText value="#{item.value}" title="#{item.value}" />
			</p:column>

			<p:column id="FamilyOutcomeduration"
				headerText="#{app.FamilyOutcomepaymentWay}"
				filterBy="#{fileBean.getText(item.paymentWay)}"
				filterMatchMode="contains"
				sortBy="#{fileBean.getText(item.paymentWay)}">
				<h:outputText value="#{fileBean.getText(item.paymentWay)}"
					title="#{fileBean.getText(item.paymentWay)}" />
			</p:column>

			<p:column id="FamilyOutcomenotes"
				headerText="#{app.FamilyOutcomenotes}" filterBy="#{item.notes}"
				filterMatchMode="contains" sortBy="#{item.notes}">
				<h:outputText value="#{item.notes}" title="#{item.notes}" />
			</p:column>



			<p:columnGroup type="footer">
				<p:row>
					<p:column />
					<p:column />
					<p:column />
					<p:column footerText="#{fileBean.outcomeSum()}" />
					<p:column />
					<p:column />
				</p:row>
			</p:columnGroup>

		</p:dataTable>

		<p:dialog id="editFamilyOutcomeDialog"
			widgetVar="editFamilyOutcomeDialogVar" closable="true"
			showHeader="false" showEffect="clip" hideEffect="clip"
			draggable="false" maximizable="false" modal="true" width="800"
			height="350" resizable="false" styleClass="addDialog"
			onShow="updateComponents()">

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.FamilyOutcomedestination}" />
							</div>
							<div class="col-md-8">
								<h:inputText readonly="true" styleClass="form-control"
									value="#{fileBean.editFamilyOutcome.destination}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.FamilyOutcomevalue}" />
							</div>
							<div class="col-md-8">
								<p:inputNumber inputStyleClass="form-control"
									value="#{fileBean.editFamilyOutcome.value}" styleClass="money"
									symbol="$" symbolPosition="s" decimalSeparator="."
									thousandSeparator="," minValue="0" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.FamilyOutcomepaymentWay}" />
							</div>
							<div class="col-md-8">
								<p:selectOneMenu
									value="#{fileBean.editFamilyOutcome.paymentWay}">
									<f:selectItem />
									<f:selectItem itemLabel="#{app.Annually}" itemValue="Annually" />
									<f:selectItem itemLabel="#{app.Monthly}" itemValue="Monthly" />
								</p:selectOneMenu>
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.FamilyOutcomenotes}" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{fileBean.editFamilyOutcome.notes}" />
							</div>
						</div>
					</div>
				</div>

			</div>

			<f:facet name="footer">

				<h:commandLink value="#{app.ok}"
					styleClass="btn btn-primary popup-buttons"
					onclick="PF('editFamilyOutcomeDialogVar').hide()">
					<p:ajax process="editFamilyOutcomeDialog"
						update="familyOutcomesDataTable"
						oncomplete="PF('familyOutcomesDataTableVar').filter()" />
				</h:commandLink>

				<h:commandLink styleClass="btn btn-danger popup-buttons"
					onclick="PF('editFamilyOutcomeDialogVar').hide()">
					<h:outputText value="#{app.cancel}" />
					<f:ajax />
				</h:commandLink>
			</f:facet>

		</p:dialog>

	</div>
</div>

</html>