<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">


<!-- Recommended Aids -->

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="aidFinancial"
				value="#{app.aidFinancial}:" />
		</div>
		<div class="col-md-9">
			<p:selectBooleanCheckbox id="aidFinancial"
				value="#{fileBean.file.aidFinancial}">
				<p:ajax update="aidFinancial-group" oncomplete="updateComponents()" />
			</p:selectBooleanCheckbox>
			<h:message for="aidFinancial" styleClass="error" />
		</div>
	</div>
</div>

<h:panelGroup id="aidFinancial-group">
	<h:panelGroup rendered="#{fileBean.file.aidFinancial}">
		<div class="form-group">
			<div class="col-md-12">
				<div class="col-md-2" />
				<div class="col-md-9">
					<p:selectOneMenu id="aidFinancialWay"
						value="#{fileBean.file.aidFinancialWay}">
						<f:selectItem />
						<f:selectItem itemLabel="#{app.aidFinancialFixed}"
							itemValue="Fixed" />
						<f:selectItem itemLabel="#{app.aidFinancialNotFixed}"
							itemValue="NotFixed" />
					</p:selectOneMenu>
					<h:message for="aidFinancialWay" styleClass="error" />
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12">
				<div class="col-md-2" />
				<div class="col-md-9">
					<p:selectOneMenu id="aidFinancialType"
						value="#{fileBean.file.aidFinancialType}">
						<f:selectItem />
						<f:selectItem itemLabel="#{app.aidFinancialSahemImam}"
							itemValue="SahemImam" />
						<f:selectItem itemLabel="#{app.aidFinancialSahemSeda}"
							itemValue="SahemSeda" />
						<f:selectItem itemLabel="#{app.aidFinancialAytam}"
							itemValue="Aytam" />
						<f:selectItem itemLabel="#{app.aidFinancialSadakat}"
							itemValue="Sadakat" />
					</p:selectOneMenu>
					<h:message for="aidFinancialType" styleClass="error" />
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12">
				<div class="col-md-2" />
				<div class="col-md-9">
					<p:inputNumber inputStyleClass="form-control"
						value="#{fileBean.file.aidFinancialValue}" styleClass="money"
						symbol="$" symbolPosition="s" decimalSeparator="."
						thousandSeparator="," minValue="0" />
				</div>
			</div>
		</div>
	</h:panelGroup>
</h:panelGroup>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="aidFood"
				value="#{app.aidFood}:" />
		</div>
		<div class="col-md-9">
			<p:selectBooleanCheckbox id="aidFood"
				value="#{fileBean.file.aidFood}">
				<p:ajax update="aidFood-group" oncomplete="updateComponents()" />
			</p:selectBooleanCheckbox>
			<h:message for="aidFood" styleClass="error" />
		</div>
	</div>
</div>

<h:panelGroup id="aidFood-group">
	<h:panelGroup rendered="#{fileBean.file.aidFood}">
		<div class="form-group">
			<div class="col-md-12">
				<div class="col-md-2" />
				<div class="col-md-9">
					<h:inputText id="aidFoodNotes" styleClass="form-control"
						value="#{fileBean.file.aidFoodNotes}" />
					<h:message for="aidFoodNotes" styleClass="error" />
				</div>
			</div>
		</div>
	</h:panelGroup>
</h:panelGroup>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="aidHealth"
				value="#{app.aidHealth}:" />
		</div>
		<div class="col-md-9">
			<p:selectBooleanCheckbox id="aidHealth"
				value="#{fileBean.file.aidHealth}">
				<p:ajax update="aidHealth-group" oncomplete="updateComponents()" />
			</p:selectBooleanCheckbox>
			<h:message for="aidHealth" styleClass="error" />
		</div>
	</div>
</div>

<h:panelGroup id="aidHealth-group">
	<h:panelGroup rendered="#{fileBean.file.aidHealth}">
		<div class="form-group">
			<div class="col-md-12">
				<div class="col-md-2" />
				<div class="col-md-9">
					<p:selectOneMenu id="aidHealthType"
						value="#{fileBean.file.aidHealthType}">
						<f:selectItem />
						<f:selectItem itemLabel="#{app.aidHealthMedicine}"
							itemValue="Medicine" />
						<f:selectItem itemLabel="#{app.aidHealthHospital}"
							itemValue="Hospital" />
						<f:selectItem itemLabel="#{app.aidHealthTreatment}"
							itemValue="Treatment" />
					</p:selectOneMenu>
					<h:message for="aidHealthType" styleClass="error" />
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12">
				<div class="col-md-2" />
				<div class="col-md-9">
					<h:inputText id="aidHealthNotes" styleClass="form-control"
						value="#{fileBean.file.aidHealthNotes}" />
					<h:message for="aidHealthNotes" styleClass="error" />
				</div>
			</div>
		</div>
	</h:panelGroup>
</h:panelGroup>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="aidProjectOwning"
				value="#{app.aidProjectOwning}:" />
		</div>
		<div class="col-md-9">
			<p:selectBooleanCheckbox id="aidProjectOwning"
				value="#{fileBean.file.aidProjectOwning}">
				<p:ajax update="aidProjectOwning-group"
					oncomplete="updateComponents()" />
			</p:selectBooleanCheckbox>
			<h:message for="aidProjectOwning" styleClass="error" />
		</div>
	</div>
</div>


<h:panelGroup id="aidProjectOwning-group">
	<h:panelGroup rendered="#{fileBean.file.aidProjectOwning}">
		<div class="form-group">
			<div class="col-md-12">
				<div class="col-md-1" />
				<div class="col-md-2">
					<h:outputLabel styleClass="control-label" for="aidProjectType"
						value="#{app.aidProjectType}:" />
				</div>
				<div class="col-md-8">
					<h:inputText id="aidProjectType" styleClass="form-control"
						value="#{fileBean.file.aidProjectType}" />
					<h:message for="aidProjectType" styleClass="error" />
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12">
				<div class="col-md-1" />
				<div class="col-md-2">
					<h:outputLabel styleClass="control-label" for="aidProjectValue"
						value="#{app.aidProjectValue}:" />
				</div>
				<div class="col-md-8">
					<p:inputNumber id="aidProjectValue" inputStyleClass="form-control"
						value="#{fileBean.file.aidProjectValue}" styleClass="money"
						symbol="$" symbolPosition="s" decimalSeparator="."
						thousandSeparator="," minValue="0" />
					<h:message for="aidProjectValue" styleClass="error" />
				</div>
			</div>
		</div>
	</h:panelGroup>
</h:panelGroup>

</html>