<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">


<!-- residence -->

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="residenceType"
				value="#{app.residenceType}:" />
		</div>
		<div class="col-md-9">
			<p:selectOneMenu id="residenceType"
				value="#{fileBean.file.residenceType}">
				<f:selectItem />
				<f:selectItem itemLabel="#{app.Own}" itemValue="Own" />
				<f:selectItem itemLabel="#{app.Rent}" itemValue="Rent" />
				<f:selectItem itemLabel="#{app.Share}" itemValue="Share" />
				<f:selectItem itemLabel="#{app.Publicity}" itemValue="Publicity" />
			</p:selectOneMenu>
			<h:message for="residenceType" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="residenceState"
				value="#{app.residenceState}:" />
		</div>
		<div class="col-md-9">
			<p:selectOneMenu id="residenceState"
				value="#{fileBean.file.residenceState}">
				<f:selectItem />
				<f:selectItem itemLabel="#{app.Good}" itemValue="Good" />
				<f:selectItem itemLabel="#{app.Fair}" itemValue="Fair" />
				<f:selectItem itemLabel="#{app.Bad}" itemValue="Bad" />
			</p:selectOneMenu>
			<h:message for="residenceState" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="numberOfRooms"
				value="#{app.numberOfRooms}:" />
		</div>
		<div class="col-md-9">
			<p:inputNumber id="numberOfRooms" inputStyleClass="form-control"
				decimalPlaces="0" value="#{fileBean.file.numberOfRooms}"
				emptyValue="0" minValue="0" />
			<h:message for="numberOfRooms" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label"
				for="residenceInspectingNotes"
				value="#{app.residenceInspectingNotes}:" />
		</div>
		<div class="col-md-9">
			<p:inputTextarea id="residenceInspectingNotes"
				styleClass="form-control"
				value="#{fileBean.file.residenceInspectingNotes}" />
			<h:message for="residenceInspectingNotes" styleClass="error" />
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-12 margin-top-two">

		<p:dataTable id="furnituresDataTable" rows="8" paginator="false"
			widgetVar="furnituresDataTableVar"
			value="#{fileBean.file.furnitures}" var="item" rowKey="#{item.id}"
			rowIndexVar="index" emptyMessage="#{app.empty_table}"
			rowStyleClass="#{item.exist ? '' : 'bg-danger'}">

			<f:facet name="header">
				<h:outputText value="#{app.furnitures}" styleClass="headerText" />
			</f:facet>

			<p:column id="index" width="50">
				<h:outputText value="#{index+1}"></h:outputText>
			</p:column>

			<p:column id="edit" width="50">
				<h:commandLink styleClass="btn btn-sm btn-success white"
					action="#{fileBean.openEditFurnitureDialog(item)}">
					<i class="fa fa-pencil white" />
					<p:ajax update="editFurnitureDialog"
						oncomplete="PF('editFurnitureDialogVar').show()" />
				</h:commandLink>
			</p:column>

			<p:column id="Furnituretype" headerText="#{app.Furnituretype}"
				filterBy="#{item.type}" filterMatchMode="contains"
				sortBy="#{item.type}">
				<h:outputText value="#{item.type}" title="#{item.type}" />
			</p:column>

			<p:column id="Furniturenotes" headerText="#{app.Furniturenotes}"
				filterBy="#{item.notes}" filterMatchMode="contains"
				sortBy="#{item.notes}">
				<h:outputText value="#{item.notes}" title="#{item.notes}" />
			</p:column>

		</p:dataTable>

		<p:dialog id="editFurnitureDialog" widgetVar="editFurnitureDialogVar"
			showHeader="false" closable="true" showEffect="clip"
			hideEffect="clip" draggable="false" maximizable="false" modal="true"
			width="800" height="350" resizable="false" styleClass="addDialog"
			onShow="updateComponents()">

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.Furnituretype}" />
							</div>
							<div class="col-md-8">
								<h:inputText readonly="true" styleClass="form-control"
									value="#{fileBean.editFurniture.type}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.Furnitureexist}" />
							</div>
							<div class="col-md-8">
								<p:selectBooleanCheckbox value="#{fileBean.editFurniture.exist}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.Furniturenotes}" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{fileBean.editFurniture.notes}" />
							</div>
						</div>

					</div>
				</div>

			</div>

			<f:facet name="footer">

				<h:commandLink value="#{app.ok}"
					styleClass="btn btn-primary popup-buttons"
					onclick="PF('editFurnitureDialogVar').hide()">
					<p:ajax process="editFurnitureDialog"
						oncomplete="PF('furnituresDataTableVar').filter()" />
				</h:commandLink>

				<h:commandLink styleClass="btn btn-danger popup-buttons"
					onclick="PF('editFurnitureDialogVar').hide()">
					<h:outputText value="#{app.cancel}" />
					<f:ajax />
				</h:commandLink>
			</f:facet>

		</p:dialog>

	</div>
</div>



</html>