<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">


<div class="row">
	<div class="col-md-12">

		<p:dataTable id="sickPeopleDataTable" rows="50" paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15,20,50,100,200"
			widgetVar="sickPeopleDataTableVar" paginatorAlwaysVisible="false"
			paginatorPosition="bottom" value="#{fileBean.file.sickPeoples}"
			var="item" rowKey="#{item.id}" rowIndexVar="index"
			emptyMessage="#{app.empty_table}">

			<f:facet name="header">
				<h:outputText value="#{app.sickPeople}" styleClass="headerText" />

				<h:commandLink action="#{fileBean.openAddSickPeopleDialog()}"
					styleClass="btn btn-primary white headerButton">
					<f:ajax />
					<i class="fa fa-plus white" />
				</h:commandLink>
			</f:facet>

			<p:column id="index" width="50">
				<h:outputText value="#{index+1}"></h:outputText>
			</p:column>

			<p:column id="delete" width="50">
				<h:commandLink styleClass="btn btn-sm btn-danger white"
					action="#{fileBean.selectSickPeopleForDelete(item)}"
					onclick="PF('deleteSickPeopleDialogVar').show()">
					<i class="fa fa-trash white" />
					<f:ajax />
				</h:commandLink>
			</p:column>

			<p:column id="edit" width="50">
				<h:commandLink styleClass="btn btn-sm btn-success white"
					action="#{fileBean.openEditSickPeopleDialog(item)}">
					<i class="fa fa-pencil white" />
					<p:ajax update="editSickPeopleDialog"
						oncomplete="PF('editSickPeopleDialogVar').show()" />
				</h:commandLink>
			</p:column>

			<p:column id="SickPeoplename" headerText="#{app.SickPeoplename}"
				filterBy="#{item.name}" filterMatchMode="contains"
				sortBy="#{item.name}">
				<h:outputText value="#{item.name}" title="#{item.name}" />
			</p:column>

			<p:column id="SickPeoplesicknessType"
				headerText="#{app.SickPeoplesicknessType}"
				filterBy="#{item.sicknessType}" filterMatchMode="contains"
				sortBy="#{item.sicknessType}">
				<h:outputText value="#{item.sicknessType}"
					title="#{item.sicknessType}" />
			</p:column>

			<p:column id="SickPeoplestartDate"
				headerText="#{app.SickPeoplestartDate}" filterBy="#{item.startDate}"
				filterMatchMode="contains" sortBy="#{item.startDate}">
				<h:outputText value="#{item.startDate}" title="#{item.startDate}">
					<f:convertDateTime pattern="dd-MM-yyyy" />
				</h:outputText>
			</p:column>

			<p:column id="SickPeoplediseaseNature"
				headerText="#{app.SickPeoplediseaseNatrue}"
				filterBy="#{fileBean.getText(item.diseaseNature)}"
				filterMatchMode="contains"
				sortBy="#{fileBean.getText(item.diseaseNature)}">
				<h:outputText value="#{fileBean.getText(item.diseaseNature)}"
					title="#{fileBean.getText(item.diseaseNature)}" />
			</p:column>

			<p:column id="SickPeopletreatmentType"
				headerText="#{app.SickPeopleTreatmentType}"
				filterBy="#{item.treatmentType}" filterMatchMode="contains"
				sortBy="#{item.treatmentType}">
				<h:outputText value="#{item.treatmentType}"
					title="#{item.treatmentType}" />
			</p:column>

			<p:column id="SickPeoplemonthylTreatmentPayment"
				headerText="#{app.SickPeoplemonthlyTreatmentPayment}"
				filterBy="#{item.monthylTreatmentPayment}"
				filterMatchMode="contains" sortBy="#{item.monthylTreatmentPayment}">
				<h:outputText value="#{item.monthylTreatmentPayment}"
					title="#{item.monthylTreatmentPayment}" />
			</p:column>

			<p:column id="SickPeoplehelpingPartyName"
				headerText="#{app.SickPeoplehelpingPartyName}"
				filterBy="#{item.helpingPartyName}" filterMatchMode="contains"
				sortBy="#{item.helpingPartyName}">
				<h:outputText value="#{item.helpingPartyName}"
					title="#{item.helpingPartyName}" />
			</p:column>

			<p:column id="SickPeoplehelpingPartyPercentage"
				headerText="#{app.SickPeoplehelpingPartyPercentage}"
				filterBy="#{item.helpingPartyPercentage}" filterMatchMode="contains"
				sortBy="#{item.helpingPartyPercentage}">
				<h:outputText value="#{item.helpingPartyPercentage}"
					title="#{item.helpingPartyPercentage}" />
			</p:column>

			<p:column id="SickPeoplenotes" headerText="#{app.SickPeoplenotes}"
				filterBy="#{item.notes}" filterMatchMode="contains"
				sortBy="#{item.notes}">
				<h:outputText value="#{item.notes}" title="#{item.notes}" />
			</p:column>


		</p:dataTable>

		<p:dialog id="editSickPeopleDialog" showHeader="false"
			widgetVar="editSickPeopleDialogVar" closable="true" showEffect="clip"
			hideEffect="clip" draggable="false" maximizable="false" modal="true"
			width="800" height="350" resizable="false" styleClass="addDialog"
			onShow="updateComponents()">

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.SickPeoplename}" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{fileBean.editSickPeople.name}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.SickPeoplesicknessType}" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{fileBean.editSickPeople.sicknessType}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.SickPeoplestartDate}" />
							</div>
							<div class="col-md-8">
								<p:calendar value="#{fileBean.editSickPeople.startDate}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.SickPeoplediseaseNatrue}" />
							</div>
							<div class="col-md-8">
								<p:selectOneMenu
									value="#{fileBean.editSickPeople.diseaseNature}">
									<f:selectItem />
									<f:selectItem itemLabel="#{app.Chronic}" itemValue="Chronic" />
									<f:selectItem itemLabel="#{app.Handicap}" itemValue="Handicap" />
									<f:selectItem itemLabel="#{app.Infection}"
										itemValue="Infection" />
								</p:selectOneMenu>
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.SickPeopleTreatmentType}" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{fileBean.editSickPeople.treatmentType}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.SickPeoplemonthlyTreatmentPayment}" />
							</div>
							<div class="col-md-8">
								<p:inputNumber inputStyleClass="form-control"
									value="#{fileBean.editSickPeople.monthylTreatmentPayment}"
									styleClass="money" symbol="$" symbolPosition="s"
									decimalSeparator="." thousandSeparator="," minValue="0" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.SickPeoplehelpingPartyName}" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{fileBean.editSickPeople.helpingPartyName}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.SickPeoplehelpingPartyPercentage}" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{fileBean.editSickPeople.helpingPartyPercentage}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.SickPeoplenotes}" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{fileBean.editSickPeople.notes}" />
							</div>
						</div>


					</div>
				</div>

			</div>

			<f:facet name="footer">

				<h:commandLink rendered="#{fileBean.editSickBoolean}"
					value="#{app.ok}" styleClass="btn btn-primary popup-buttons"
					onclick="PF('editSickPeopleDialogVar').hide()">
					<p:ajax process="editSickPeopleDialog"
						oncomplete="PF('sickPeopleDataTableVar').filter()" />
				</h:commandLink>
				<h:commandLink rendered="#{!fileBean.editSickBoolean}"
					value="#{app.ok}" styleClass="btn btn-primary popup-buttons"
					onclick="PF('editSickPeopleDialogVar').hide()"
					action="#{fileBean.editSickPeople()}">
					<p:ajax process="editSickPeopleDialog"
						oncomplete="PF('sickPeopleDataTableVar').filter()" />
				</h:commandLink>

				<h:commandLink styleClass="btn btn-danger popup-buttons"
					onclick="PF('editSickPeopleDialogVar').hide()">
					<h:outputText value="#{app.cancel}" />
					<f:ajax />
				</h:commandLink>
			</f:facet>
		</p:dialog>

		<p:dialog id="deleteSickPeopleDialog" draggable="false"
			closable="false" showEffect="clip" hideEffect="clip" modal="true"
			height="50" width="350" resizable="false"
			widgetVar="deleteSickPeopleDialogVar">
			<f:facet name="header">
				<h:outputText value="#{app.confirm_deletion}" />
			</f:facet>

			<h:commandLink value="#{app.ok}"
				action="#{fileBean.removeSickPeople()}"
				styleClass="btn btn-primary popup-buttons"
				onclick="PF('deleteSickPeopleDialogVar').hide()">
				<p:ajax oncomplete="PF('sickPeopleDataTableVar').filter()" />
			</h:commandLink>
			<h:commandLink styleClass="btn btn-danger popup-buttons"
				onclick="PF('deleteSickPeopleDialogVar').hide()">
				<h:outputText value="#{app.cancel}" />
				<f:ajax />
			</h:commandLink>
		</p:dialog>

	</div>
</div>



</html>