<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<!-- Wife Personal Information -->


<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="wifeFirstName"
				value="#{app.wifeFirstName}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="wifeFirstName" styleClass="form-control"
				value="#{fileBean.file.wifeFirstName}" />
			<h:message for="wifeFirstName" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="wifeFatherName"
				value="#{app.wifeFatherName}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="wifeFatherName" styleClass="form-control"
				value="#{fileBean.file.wifeFatherName}" />
			<h:message for="wifeFatherName" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="wifeFamilyName"
				value="#{app.wifeFamilyName}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="wifeFamilyName" styleClass="form-control"
				value="#{fileBean.file.wifeFamilyName}" />
			<h:message for="wifeFamilyName" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="wifeBirthPlace"
				value="#{app.wifeBirthPlace}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="wifeBirthPlace" styleClass="form-control"
				value="#{fileBean.file.wifeBirthPlace}" />
			<h:message for="wifeBirthPlace" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="wifeBirthDate"
				value="#{app.wifeBirthDate}:" />
		</div>
		<div class="col-md-9">
			<p:calendar id="wifeBirthDate" value="#{fileBean.file.wifeBirthDate}"
				pattern="dd-MM-yyyy" />
			<h:message for="wifeBirthDate" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="wifeRecordNumber"
				value="#{app.wifeRecordNumber}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="wifeRecordNumber" styleClass="form-control"
				value="#{fileBean.file.wifeRecordNumber}" />
			<h:message for="wifeRecordNumber" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="wifeMotherFullName"
				value="#{app.wifeMotherFullName}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="wifeMotherFullName" styleClass="form-control"
				value="#{fileBean.file.wifeMotherFullName}" />
			<h:message for="wifeMotherFullName" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="wifeGovernorate"
				value="#{app.wifeGovernorate}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="wifeGovernorate" styleClass="form-control"
				value="#{fileBean.file.wifeGovernorate}" />
			<h:message for="wifeGovernorate" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="wifeProvince"
				value="#{app.wifeProvince}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="wifeProvince" styleClass="form-control"
				value="#{fileBean.file.wifeProvince}" />
			<h:message for="wifeProvince" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="wifeTown"
				value="#{app.wifeTown}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="wifeTown" styleClass="form-control"
				value="#{fileBean.file.wifeTown}" />
			<h:message for="wifeTown" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="wifeNationality"
				value="#{app.wifeNationality}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="wifeNationality" styleClass="form-control"
				value="#{fileBean.file.wifeNationality}" />
			<h:message for="wifeNationality" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="wifeSadaAmma"
				value="#{app.wifeSadaAmma}:" />
		</div>
		<div class="col-md-9">
			<p:selectOneMenu id="wifeSadaAmma"
				value="#{fileBean.file.wifeSadaAmma}">
				<f:selectItem />
				<f:selectItem itemLabel="#{app.Sada}" itemValue="Sada" />
				<f:selectItem itemLabel="#{app.Amma}" itemValue="Amma" />
			</p:selectOneMenu>
			<h:message for="wifeSadaAmma" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="wifeEducationalLevel"
				value="#{app.wifeEducationalLevel}:" />
		</div>
		<div class="col-md-9">
			<p:selectOneMenu id="wifeEducationalLevel"
				value="#{fileBean.file.wifeEducationalLevel}">
				<f:selectItem />
				<f:selectItem itemLabel="#{app.Illiterate}" itemValue="Illiterate" />
				<f:selectItem itemLabel="#{app.FirstElementary}"
					itemValue="FirstElementary" />
				<f:selectItem itemLabel="#{app.SecondElementary}"
					itemValue="SecondElementary" />
				<f:selectItem itemLabel="#{appHighSchool}" itemValue="HighSchool" />
				<f:selectItem itemLabel="#{app.Graduate}" itemValue="Graduate" />
				<f:selectItem itemLabel="#{app.Vocational}" itemValue="Vocational" />
				<f:selectItem itemLabel="#{app.PHD}" itemValue="PHD" />
			</p:selectOneMenu>
			<h:message for="wifeEducationalLevel" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="wifehealthStatus"
				value="#{app.wifehealthStatus}:" />
		</div>
		<div class="col-md-9">
			<p:selectOneMenu id="wifehealthStatus"
				value="#{fileBean.file.wifehealthStatus}">
				<f:selectItem />
				<f:selectItem itemLabel="#{app.Alive}" itemValue="Alive" />
				<f:selectItem itemLabel="#{app.Sick}" itemValue="Sick" />
				<f:selectItem itemLabel="#{app.Dead}" itemValue="Dead" />
			</p:selectOneMenu>
			<h:message for="wifehealthStatus" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="wifeFamilyStatus"
				value="#{app.wifeFamilyStatus}:" />
		</div>
		<div class="col-md-9">
			<p:selectOneMenu id="wifeFamilyStatus"
				value="#{fileBean.file.wifeFamilyStatus}">
				<f:selectItem />
				<f:selectItem itemLabel="#{app.WithTheFamily}"
					itemValue="WithTheFamily" />
				<f:selectItem itemLabel="#{app.WithoutTheFamily}"
					itemValue="WithoutTheFamily" />
			</p:selectOneMenu>
			<h:message for="wifeFamilyStatus" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="wifeMarriedAgain"
				value="#{app.wifeMarriedAgain}:" />
		</div>
		<div class="col-md-9">
			<p:selectBooleanCheckbox id="wifeMarriedAgain"
				value="#{fileBean.file.wifeMarriedAgain}" />
			<h:message for="wifeMarriedAgain" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label"
				for="wifeFamilyResponsibility"
				value="#{app.wifeFamilyResponsibility}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="wifeFamilyResponsibility" styleClass="form-control"
				value="#{fileBean.file.wifeFamilyResponsibility}" />
			<h:message for="wifeFamilyResponsibility" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label"
				for="wifeResponsibleContribution"
				value="#{app.wifeResponsibleContribution}:" />
		</div>
		<div class="col-md-9">
			<p:inputNumber id="wifeResponsibleContribution"
				inputStyleClass="form-control"
				value="#{fileBean.file.wifeResponsibleContribution}"
				styleClass="money" symbol="$" symbolPosition="s"
				decimalSeparator="." thousandSeparator="," minValue="0" />
			<h:message for="wifeResponsibleContribution" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="wifeExHusbandName"
				value="#{app.wifeExHusbandName}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="wifeExHusbandName" styleClass="form-control"
				value="#{fileBean.file.wifeExHusbandName}" />
			<h:message for="wifeExHusbandName" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="wifeExHusbandJob"
				value="#{app.wifeExHusbandJob}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="wifeExHusbandJob" styleClass="form-control"
				value="#{fileBean.file.wifeExHusbandJob}" />
			<h:message for="wifeExHusbandJob" styleClass="error" />
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="wifeExHusbandStatus"
				value="#{app.wifeExHusbandStatus}:" />
		</div>
		<div class="col-md-9">
			<h:inputText id="wifeExHusbandStatus" styleClass="form-control"
				value="#{fileBean.file.wifeExHusbandStatus}" />
			<h:message for="wifeExHusbandStatus" styleClass="error" />
		</div>
	</div>
</div>
</html>