<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<!-- Wife Job Information -->

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="wifeCurrentlyWorking"
				value="#{app.wifeCurrentlyWorking}:" />
		</div>
		<div class="col-md-9">
			<p:selectBooleanCheckbox id="wifeCurrentlyWorking"
				value="#{fileBean.file.wifeCurrentlyWorking}">
				<p:ajax update="wifeCurrentlyWorking-group"
					oncomplete="initCalendar();initSelectOneMenu();" />
			</p:selectBooleanCheckbox>
			<h:message for="wifeCurrentlyWorking" styleClass="error" />
		</div>
	</div>
</div>

<h:panelGroup id="wifeCurrentlyWorking-group">
	<h:panelGroup rendered="#{fileBean.file.wifeCurrentlyWorking}">

		<div class="form-group">
			<div class="col-md-12">
				<div class="col-md-3">
					<h:outputLabel styleClass="control-label" for="wifeWorkType"
						value="#{app.wifeWorkType}:" />
				</div>
				<div class="col-md-9">
					<h:inputText id="wifeWorkType" styleClass="form-control"
						value="#{fileBean.file.wifeWorkType}" />
					<h:message for="wifeWorkType" styleClass="error" />
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12">
				<div class="col-md-3">
					<h:outputLabel styleClass="control-label" for="wifeWorkAddress"
						value="#{app.wifeWorkAddress}:" />
				</div>
				<div class="col-md-9">
					<h:inputText id="wifeWorkAddress" styleClass="form-control"
						value="#{fileBean.file.wifeWorkAddress}" />
					<h:message for="wifeWorkAddress" styleClass="error" />
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12">
				<div class="col-md-3">
					<h:outputLabel styleClass="control-label" for="wifeWorkPhoneNumber"
						value="#{app.wifeWorkPhoneNumber}:" />
				</div>
				<div class="col-md-9">
					<h:inputText id="wifeWorkPhoneNumber" styleClass="form-control"
						value="#{fileBean.file.wifeWorkPhoneNumber}" />
					<h:message for="wifeWorkPhoneNumber" styleClass="error" />
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12">
				<div class="col-md-3">
					<h:outputLabel styleClass="control-label" for="wifeWorkStartDate"
						value="#{app.wifeWorkStartDate}:" />
				</div>
				<div class="col-md-9">
					<p:calendar id="wifeWorkStartDate"
						value="#{fileBean.file.wifeWorkStartDate}" pattern="dd-MM-yyyy" />
					<h:message for="wifeWorkStartDate" styleClass="error" />
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12">
				<div class="col-md-3">
					<h:outputLabel styleClass="control-label" for="wifeWorkSalary"
						value="#{app.wifeWorkSalary}:" />
				</div>
				<div class="col-md-9">
					<p:inputNumber id="wifeWorkSalary" inputStyleClass="form-control"
						value="#{fileBean.file.wifeWorkSalary}" styleClass="money"
						symbol="$" symbolPosition="s" decimalSeparator="."
						thousandSeparator="," minValue="0" />
					<h:message for="wifeWorkSalary" styleClass="error" />
				</div>
			</div>
		</div>

	</h:panelGroup>
</h:panelGroup>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="wifeRequestWorking"
				value="#{app.wifeRequestWorking}:" />
		</div>
		<div class="col-md-9">
			<p:selectBooleanCheckbox id="wifeRequestWorking"
				value="#{fileBean.file.wifeRequestWorking}">
				<p:ajax update="wifeRequestWorking-group"
					oncomplete="updateComponents();initWifePreferedWork();" />
			</p:selectBooleanCheckbox>
			<h:message for="wifeRequestWorking" styleClass="error" />
		</div>
	</div>
</div>

<h:panelGroup id="wifeRequestWorking-group">
	<h:panelGroup rendered="#{fileBean.file.wifeRequestWorking}">
		<div class="form-group">
			<div class="col-md-12">
				<div class="col-md-3">
					<h:outputLabel styleClass="control-label" for="wifePreferedWork"
						value="#{app.wifePreferedWork}:" />
				</div>
				<div class="col-md-9">
					<h:inputText id="wifePreferedWork" styleClass="wifePreferedWork"
						value="#{fileBean.file.wifePreferedWork}" />
					<h:message for="wifePreferedWork" styleClass="error" />
				</div>
			</div>
		</div>
	</h:panelGroup>
</h:panelGroup>

<div class="form-group">
	<div class="col-md-12">
		<div class="col-md-3">
			<h:outputLabel styleClass="control-label" for="wifeInspectingNotes"
				value="#{app.wifeInspectingNotes}:" />
		</div>
		<div class="col-md-9">
			<p:inputTextarea id="wifeInspectingNotes" styleClass="form-control"
				value="#{fileBean.file.wifeInspectingNotes}" />
			<h:message for="wifeInspectingNotes" styleClass="error" />
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 margin-top-two">

		<p:dataTable id="wifeWorksDataTable" rows="50" paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15,20,50,100,200"
			widgetVar="wifeWorksDataTableVar" paginatorAlwaysVisible="false"
			paginatorPosition="bottom" value="#{fileBean.file.wifeWorks}"
			var="item" rowKey="#{item.id}" rowIndexVar="index"
			emptyMessage="#{app.empty_table}"
			rowStyleClass="#{item.experiance ? 'bg-info' : ''}">

			<f:facet name="header">
				<h:outputText value="#{app.wifeWorks}" styleClass="headerText" />

				<h:commandLink action="#{fileBean.openAddWifeWorkDialog()}"
					styleClass="btn btn-primary white headerButton">
					<f:ajax />
					<i class="fa fa-plus white" />
				</h:commandLink>
			</f:facet>

			<p:column id="index" width="50">
				<h:outputText value="#{index+1}"></h:outputText>
			</p:column>

			<p:column id="delete" width="50">
				<h:commandLink styleClass="btn btn-sm btn-danger white"
					action="#{fileBean.selectWifeWorkForDelete(item)}"
					onclick="PF('deleteWifeWorkDialogVar').show()">
					<i class="fa fa-trash white" />
					<f:ajax />
				</h:commandLink>
			</p:column>

			<p:column id="edit" width="50">
				<h:commandLink styleClass="btn btn-sm btn-success white"
					action="#{fileBean.openEditWifeWorkDialog(item)}">
					<i class="fa fa-pencil white" />
					<p:ajax update="editWifeWorkDialog"
						oncomplete="PF('editWifeWorkDialogVar').show()" />
				</h:commandLink>
			</p:column>

			<p:column id="WifeWorktype" headerText="#{app.wifeWorkType}"
				filterBy="#{item.type}" filterMatchMode="contains"
				sortBy="#{item.type}">
				<h:outputText value="#{item.type}" title="#{item.type}" />
			</p:column>

			<p:column id="WifeWorknotes" headerText="#{app.WifeWorknotes}"
				filterBy="#{item.notes}" filterMatchMode="contains"
				sortBy="#{item.notes}">
				<h:outputText value="#{item.notes}" title="#{item.notes}" />
			</p:column>

		</p:dataTable>

		<p:dialog id="editWifeWorkDialog" widgetVar="editWifeWorkDialogVar"
			showHeader="false" closable="true" showEffect="clip"
			hideEffect="clip" draggable="false" maximizable="false" modal="true"
			width="800" height="350" resizable="false" styleClass="addDialog"
			onShow="updateComponents()">

			<div class="row">
				<div class="col-md-12">

					<div class="form-group">
						<div class="col-md-4">
							<h:outputLabel styleClass="control-label"
								value="#{app.wifeWorkType}" />
						</div>
						<div class="col-md-8">
							<h:inputText styleClass="form-control"
								value="#{fileBean.editWifeWork.type}" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-4">
							<h:outputLabel styleClass="control-label"
								value="#{app.WifeWorknotes}" />
						</div>
						<div class="col-md-8">
							<h:inputText styleClass="form-control"
								value="#{fileBean.editWifeWork.notes}" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-4">
							<h:outputLabel styleClass="control-label"
								value="#{app.WifeWorkexperiance}" />
						</div>
						<div class="col-md-8">
							<p:selectBooleanCheckbox
								value="#{fileBean.editWifeWork.experiance}" />
						</div>
					</div>

				</div>

			</div>

			<f:facet name="footer">

				<h:commandLink rendered="#{fileBean.editWifeWorkBoolean}"
					value="#{app.ok}" styleClass="btn btn-primary popup-buttons"
					onclick="PF('editWifeWorkDialogVar').hide()">
					<p:ajax process="editWifeWorkDialog"
						oncomplete="PF('wifeWorksDataTableVar').filter()" />
				</h:commandLink>
				<h:commandLink rendered="#{!fileBean.editWifeWorkBoolean}"
					value="#{app.ok}" styleClass="btn btn-primary popup-buttons"
					onclick="PF('editWifeWorkDialogVar').hide()"
					action="#{fileBean.editWifeWork()}">
					<p:ajax process="editWifeWorkDialog"
						oncomplete="PF('wifeWorksDataTableVar').filter()" />
				</h:commandLink>

				<h:commandLink styleClass="btn btn-danger popup-buttons"
					onclick="PF('editWifeWorkDialogVar').hide()">
					<h:outputText value="#{app.cancel}" />
					<f:ajax />
				</h:commandLink>
			</f:facet>

		</p:dialog>

		<p:dialog id="deleteWifeWorkDialog" draggable="false" closable="false"
			showEffect="clip" hideEffect="clip" modal="true" height="50"
			width="350" resizable="false" widgetVar="deleteWifeWorkDialogVar">
			<f:facet name="header">
				<h:outputText value="#{app.confirm_deletion}" />
			</f:facet>

			<h:commandLink value="#{app.ok}"
				action="#{fileBean.removeWifeWork()}"
				styleClass="btn btn-primary popup-buttons"
				onclick="PF('deleteWifeWorkDialogVar').hide()">
				<p:ajax oncomplete="PF('wifeWorksDataTableVar').filter()" />
			</h:commandLink>
			<h:commandLink styleClass="btn btn-danger popup-buttons"
				onclick="PF('deleteWifeWorkDialogVar').hide()">
				<h:outputText value="#{app.cancel}" />
				<f:ajax />
			</h:commandLink>
		</p:dialog>

	</div>
</div>

</html>