<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">


<div class="row">
	<div class="col-md-12">

		<p:dataTable id="workingPeopleDataTable" rows="50" paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15,20,50,100,200"
			widgetVar="workingPeopleDataTableVar" paginatorAlwaysVisible="false"
			paginatorPosition="bottom" value="#{fileBean.file.workingPeoples}"
			var="item" rowKey="#{item.id}" rowIndexVar="index"
			emptyMessage="#{app.empty_table}">

			<f:facet name="header">
				<h:outputText value="#{app.workingPeople}" styleClass="headerText" />

				<h:commandLink action="#{fileBean.openAddWorkingPeopleDialog()}"
					styleClass="btn btn-primary white headerButton">
					<f:ajax />
					<i class="fa fa-plus white" />
				</h:commandLink>
			</f:facet>

			<p:column id="index" width="50">
				<h:outputText value="#{index+1}"></h:outputText>
			</p:column>

			<p:column id="delete" width="50">
				<h:commandLink styleClass="btn btn-sm btn-danger white"
					action="#{fileBean.selectWorkingPeopleForDelete(item)}"
					onclick="PF('deleteWorkingPeopleDialogVar').show()">
					<i class="fa fa-trash white" />
					<f:ajax />
				</h:commandLink>
			</p:column>

			<p:column id="edit" width="50">
				<h:commandLink styleClass="btn btn-sm btn-success white"
					action="#{fileBean.openEditWorkingPeopleDialog(item)}">
					<i class="fa fa-pencil white" />
					<p:ajax update="editWorkingPeopleDialog"
						oncomplete="PF('editWorkingPeopleDialogVar').show()" />
				</h:commandLink>
			</p:column>

			<p:column id="WorkingPeoplename"
				headerText="#{app.WorkingPeoplename}" filterBy="#{item.name}"
				filterMatchMode="contains" sortBy="#{item.name}">
				<h:outputText value="#{item.name}" title="#{item.name}" />
			</p:column>

			<p:column id="WorkingPeopledateOfBirth"
				headerText="#{app.WorkingPeopledateOfBirth}"
				filterBy="#{item.dateOfBirth}" filterMatchMode="contains"
				sortBy="#{item.dateOfBirth}">
				<h:outputText value="#{item.dateOfBirth}"
					title="#{item.dateOfBirth}">
					<f:convertDateTime pattern="dd-MM-yyyy" />
				</h:outputText>
			</p:column>

			<p:column id="WorkingPeoplelivingWithFamily"
				headerText="#{app.WorkingPeoplelivingWithFamily}"
				filterBy="#{item.livingWithFamily}" filterMatchMode="contains"
				sortBy="#{item.livingWithFamily}">
				<h:outputText value="#{item.livingWithFamily ? app.yes : app.no}"
					title="#{item.livingWithFamily ? app.yes : app.no}" />
			</p:column>

			<p:column id="WorkingPeoplecontinueStuding"
				headerText="#{app.WorkingPeoplecontinueStuding}"
				filterBy="#{item.continueStuding}" filterMatchMode="contains"
				sortBy="#{item.continueStuding}">
				<h:outputText value="#{item.continueStuding ? app.yes : app.no}"
					title="#{item.continueStuding ? app.yes : app.no}" />
			</p:column>

			<p:column id="WorkingPeopleexpatriate"
				headerText="#{app.WorkingPeopleexpatriate}"
				filterBy="#{item.expatriate}" filterMatchMode="contains"
				sortBy="#{item.expatriate}">
				<h:outputText value="#{item.expatriate ? app.yes : app.no}"
					title="#{item.expatriate ? app.yes : app.no}" />
			</p:column>

			<p:column id="WorkingPeoplesocialStatus"
				headerText="#{app.WorkingPeoplesocialStatus}"
				filterBy="#{fileBean.getText(item.socialStatus)}"
				filterMatchMode="contains"
				sortBy="#{fileBean.getText(item.socialStatus)}">
				<h:outputText value="#{fileBean.getText(item.socialStatus)}"
					title="#{fileBean.getText(item.socialStatus)}" />
			</p:column>

			<p:column id="WorkingPeoplesalary"
				headerText="#{app.WorkingPeoplesalary}" filterBy="#{item.salary}"
				filterMatchMode="contains" sortBy="#{item.salary}">
				<h:outputText value="#{item.salary}" title="#{item.salary}" />
			</p:column>

			<p:column id="WorkingPeopleworkType"
				headerText="#{app.WorkingPeopleworkType}"
				filterBy="#{item.workType}" filterMatchMode="contains"
				sortBy="#{item.workType}">
				<h:outputText value="#{item.workType}" title="#{item.workType}" />
			</p:column>

			<p:column id="WorkingPeoplecontributionPrice"
				headerText="#{app.WorkingPeoplecontributionPrice}"
				filterBy="#{item.contributionPrice}" filterMatchMode="contains"
				sortBy="#{item.contributionPrice}">
				<h:outputText value="#{item.contributionPrice}"
					title="#{item.contributionPrice}" />
			</p:column>

		</p:dataTable>

		<p:dialog id="editWorkingPeopleDialog" showHeader="false"
			widgetVar="editWorkingPeopleDialogVar" closable="true"
			showEffect="clip" hideEffect="clip" draggable="false"
			maximizable="false" modal="true" width="800" height="350"
			resizable="false" styleClass="addDialog" onShow="updateComponents()">

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.WorkingPeoplename}" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{fileBean.editWorkingPeople.name}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.WorkingPeopledateOfBirth}" />
							</div>
							<div class="col-md-8">
								<p:calendar value="#{fileBean.editWorkingPeople.dateOfBirth}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.WorkingPeoplelivingWithFamily}" />
							</div>
							<div class="col-md-8">
								<p:selectBooleanCheckbox
									value="#{fileBean.editWorkingPeople.livingWithFamily}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.WorkingPeoplecontinueStuding}" />
							</div>
							<div class="col-md-8">
								<p:selectBooleanCheckbox
									value="#{fileBean.editWorkingPeople.continueStuding}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.WorkingPeopleexpatriate}" />
							</div>
							<div class="col-md-8">
								<p:selectBooleanCheckbox
									value="#{fileBean.editWorkingPeople.expatriate}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.WorkingPeoplesocialStatus}" />
							</div>
							<div class="col-md-8">
								<p:selectOneMenu
									value="#{fileBean.editWorkingPeople.socialStatus}">
									<f:selectItem />
									<f:selectItem itemLabel="#{app.Married}" itemValue="Married" />
									<f:selectItem itemLabel="#{app.Single}" itemValue="Single" />
									<f:selectItem itemLabel="#{app.Divorced}" itemValue="Divorced" />
									<f:selectItem itemLabel="#{app.Widowed}" itemValue="Widowed" />
								</p:selectOneMenu>
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.WorkingPeoplesalary}" />
							</div>
							<div class="col-md-8">
								<p:inputNumber inputStyleClass="form-control"
									value="#{fileBean.editWorkingPeople.salary}" styleClass="money"
									symbol="$" symbolPosition="s" decimalSeparator="."
									thousandSeparator="," minValue="0" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.WorkingPeopleworkType}" />
							</div>
							<div class="col-md-8">
								<h:inputText styleClass="form-control"
									value="#{fileBean.editWorkingPeople.workType}" />
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-4">
								<h:outputLabel styleClass="control-label"
									value="#{app.WorkingPeoplecontributionPrice}" />
							</div>
							<div class="col-md-8">
								<p:inputNumber inputStyleClass="form-control"
									value="#{fileBean.editWorkingPeople.contributionPrice}"
									styleClass="money" symbol="$" symbolPosition="s"
									decimalSeparator="." thousandSeparator="," minValue="0" />
							</div>
						</div>

					</div>
				</div>

			</div>

			<f:facet name="footer">

				<h:commandLink rendered="#{fileBean.editWorkingPeopleBoolean}"
					value="#{app.ok}" styleClass="btn btn-primary popup-buttons"
					onclick="PF('editWorkingPeopleDialogVar').hide()">
					<p:ajax process="editWorkingPeopleDialog"
						oncomplete="PF('workingPeopleDataTableVar').filter()" />
				</h:commandLink>
				<h:commandLink rendered="#{!fileBean.editWorkingPeopleBoolean}"
					value="#{app.ok}" styleClass="btn btn-primary popup-buttons"
					onclick="PF('editWorkingPeopleDialogVar').hide()"
					action="#{fileBean.editWorkingPeople()}">
					<p:ajax process="editWorkingPeopleDialog"
						oncomplete="PF('workingPeopleDataTableVar').filter()" />
				</h:commandLink>

				<h:commandLink styleClass="btn btn-danger popup-buttons"
					onclick="PF('editWorkingPeopleDialogVar').hide()">
					<h:outputText value="#{app.cancel}" />
					<f:ajax />
				</h:commandLink>
			</f:facet>

		</p:dialog>

		<p:dialog id="deleteWorkingPeopleDialog" draggable="false"
			closable="false" showEffect="clip" hideEffect="clip" modal="true"
			height="50" width="350" resizable="false"
			widgetVar="deleteWorkingPeopleDialogVar">
			<f:facet name="header">
				<h:outputText value="#{app.confirm_deletion}" />
			</f:facet>

			<h:commandLink value="#{app.ok}"
				action="#{fileBean.removeWorkingPeople()}"
				styleClass="btn btn-primary popup-buttons"
				onclick="PF('deleteWorkingPeopleDialogVar').hide()">
				<p:ajax oncomplete="PF('workingPeopleDataTableVar').filter()" />
			</h:commandLink>
			<h:commandLink styleClass="btn btn-danger popup-buttons"
				onclick="PF('deleteWorkingPeopleDialogVar').hide()">
				<h:outputText value="#{app.cancel}" />
				<f:ajax />
			</h:commandLink>
		</p:dialog>

	</div>
</div>



</html>