body {
	direction: rtl !important;
	background-color: #90AEC6 !important;
}

#content .search .buttons {
	text-align: right;
	padding-right: 25%;
}

#homeLink {
	padding-left: 0px !important;
}

#homeLink img {
	width: 213px !important;
}