#content {
	margin-right: 230px;
	padding-right: 30px;
	margin-left: 20px;
	padding-left: 0px;
	min-height: 85vh;
}

#content .data-table thead th, #content .data-table tbody td, #content .data-table tfoot td
	{
	text-align: right;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#navigation {
	float: right;
	margin-right: 10px;
	margin-top: 30px;
	position: fixed;
}

#navigation a {
	padding-right: 15px;
	font-size: 16px;
	text-align: right;
}

#navigation a.active {
	padding-right: 15px;
	border-radius: 0px;
	background-color: #cbdfec;
	color: #0E5974;
	text-decoration: none;
}

#navigation a.active:hover {
	background-color: #edecec;
}

#navigation img {
	height: 210px !important;
	margin-bottom: 10px;
}

.control-label {
	width: 100% !important;
	text-align: right !important;
	color: #105D8F;
	font-size: 16px;
}

/***/
.snippet {
	display: none;
}

/*************/
.ui-chkbox {
	padding: 10px !important;
}
/****************/
.ui-inputtextarea {
	margin-top: 10px !important;
}
/********************/
.selectize-dropdown {
	display: none !important;
}