#content {
	margin-right: 100px;
	padding-right: 10px;
	margin-left: 0px;
	padding-left: 0px;
}

#content .data-table thead th, #content .data-table tbody td, #content .data-table tfoot td
	{
	text-align: right;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.control-label {
	width: 100% !important;
	color: #105D8F;
	font-size: 16px;
}

#content .search {
	display: block;
	background-image: none;
	padding-bottom: 20px;
	padding-left: 0px;
}